{% extends "../base.html" %}
{% load static %}
{% load i18n %}
{% block extrahead %}
<!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css"> -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.3/datatables.min.css"/>
<link rel="stylesheet" href="{% static 'css/table_style.css' %}">
<link rel="stylesheet" href="{% static 'css/section_style.css' %}">
{% endblock %}
{% block title %}{% trans "Ataques recientes" %}{% endblock %}

{% block contentplaceholder %}

<div class="container">
<div class="row rows-cols-4 p-5">
    <div class="mb-2">
        <h5 class="font-weight-light text-right">Attacks recieved by <span class="text-danger">REM-GOLEM</span></h5>
    </div>
</div>
<div class="row pt-3">
    <div class="col">
        <table id="golemtable" class="table table-hover table-responsive compact w-100">
        <!-- <thead class="bg-dark text-white"> -->
          <thead>
           <tr>
               <th><small>ID </small></th><th><small>Type</small></th><th><small>Recieved at</small></th><th><small>Institution</small></th><th><small>Important Data</small></th> <th><small>Status</small></th> 
               <th><small>Max Value</small></th> <th><small>Threshold </small></th><th><small>More Information</small></th> <th><small>Actions</small></th>
            </tr>
        </thead>
        <tbody>
               {% for attack in attacks %}
            <tr>
                <td><small>
                    <a href="{% url 'golem-routes' attack.id_name %}" class="fw-bold text-danger" style="text-decoration:None;">{{attack.id_name}}</a>
                </small></td>
                {% if attack.typeof_attack %} <td><small> {{attack.typeof_attack}}</small></td> {% else %} <td><small> No se registró el tipo de ataque</small></td> {% endif %}
                <td><small> {{attack.received_at|time:"H:i"}}, {{attack.received_at|date:"d M Y" }}</small></td>
                <td><small>{{attack.peer}}</small></td>
                <td><small>
                    {% if attack.ip_src %} <b>Src Addr</b> {{attack.ip_src}}<br> {% endif %}
                    {% if attack.ip_dest %} <b>Dest Addr</b> {{attack.ip_dest}}<br> {% endif %}
                    {% if attack.src_port %} <b>Src Port</b> {{attack.src_port}}<br> {% endif %}
                    {% if attack.port %} <b>Port</b> {{attack.port}}<br> {% endif %}
                    {% if attack.dest_port %}<b>Dest Port</b>{{attack.dest_port}}<br> {% endif %}
                    {% if attack.protocol.all %}<b>Protocol</b> {% for p in attack.protocol.all %} {{p}} {% endfor %}<br> {% endif %}
                    {% if attack.tcpflag %} <b>Tcpflag</b>  {{attack.tcpflag}} {% endif %}
                    <br></small> </td> 
                    <td><small>{{attack.status}} </small></td>
                    <td><small>{{attack.max_value|floatformat}}/{{attack.typeof_value|title}} </small></td>
                    <td><small>{{attack.threshold_value|floatformat}}/{{attack.typeof_value|title}} </small></td> 
                    {% if attack.link %}
                    <td><small><a href="{{attack.link}}" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="More information" class="link-danger" style="text-decoration: None;">REM-GOLEM</a></small></td>
                    {% else %}
                    <td><small>There is no more information available at the moment, we apologize for any inconvenience.</small></td>
                    {% endif %}
                    <td>
                    <div class="row">
                        <div clas="col col-2 btn-group d-inline">
                            <a href="{% url 'golem-routes' attack.id_name %}"  data-bs-toggle="tooltip" data-bs-placement="top" title="View rules" class="btn btn-sm btn-outline btn-dark m-1"><i class="bi bi-bookmark-plus"></i></a>
                            <!-- <a href="{% url 'golem-updates' attack.id_name %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Updates" class="btn btn-outline btn-sm btn-dark m-1"><i class="bi bi-gear-fill"></i></a> -->
                            <a href="{% url 'golem-delete' attack.id_name %}"  data-bs-toggle="tooltip" data-bs-placement="top" title="Delete golem event" data-bs-toggle="modal" data-bs-target="#deleteconfirmModal" class="btn btn-outline btn-sm btn-dark m-1"><i class="bi bi-trash"></i></a>
                        </div>    
                    </div>
                    </td>
            </tr>
               {% endfor %}
            </tbody>
        </table>
    
    </div>

</div>


<div class="row p-2 mt-3">
  <div class="col">
    <div class="card float-right">
                <h5 class="card-header text-left text-info">Shortcuts</h5>
                <div class="card-body btn-group">
                  <div class="card-text btn-group">
                    {% if not request.COOKIES.token %}
                    <a class="btn btn-sm btn-outline-dark float-left" id="routebutton" href="#" data-bs-toggle="modal" data-bs-target="#addRouteM"><i class="bi bi-shield-plus text-warning mr-1"></i>Añadir Regla</a>
                    {% else %}
                    <a href="{% url 'add' %}" class="btn btn-sm btn-outline-dark float-left" id="routebutton"><i class="bi bi-shield-plus text-warning mr-1"></i>Añadir Regla</a>
                    {% endif %}
                    <a class="btn btn-sm btn-outline-dark float-left ml-2" href="{% url 'group-routes' %}"> <i class="bi-table text-secondary mr-1"></i>Reglas</a>
                    <a href="{% url 'pending-routes' %}" type="button" class="btn btn-outline-dark btn-sm float-left ml-2"> <i class="bi-clipboard text-danger mr-1"></i>Reglas propuestas</a>
                    <a class="btn btn-outline-dark btn-sm float-left ml-2" href="{% url 'dashboard' %}"> <i class="bi-clipboard text-info mr-1"></i>Dashboard</a>
                </div>
              </div>
            </div>
      </div>
</div>
</div>

</div>
<!-- Commit to router Modal -->
<div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="deleteconfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button href="" type="button" class="btn btn-primary">Sí</button>
          </div>
        </div>
      </div>
        </div>
{% endblock %}

{% block pagejsbottom %}
<!-- <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.5/datatables.min.js"></script> -->
<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.5/af-2.3.7/b-2.2.2/datatables.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('#golemtable').DataTable({
        "order": [[ 0, "desc" ]],
        "AutoWidth": true,
        "aLengthMenu" : [
            [5, 15, 20, -1],
            [5, 15, 20, "All"]
        ],
        
        "Processing": true, 
        "DisplayLength": 5,
    });

$('#submitButton1').click(function(){
      $.ajax({
              url: "{% url 'add-route' %}",
              type: "GET",
              dataType: "json",
              success: (data) => {
                console.log('it worked');
              },
              error: (error) => {
                console.log(error);
              }
            });
     });
    })
     </script>
{% endblock %}