{% extends "../base.html" %}
{% load static %}
{% load i18n %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/table_style.css' %}">
<link rel="stylesheet" href="{% static 'css/section_style.css' %}">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.3/datatables.min.css">

{% endblock %}
{% block title %}{% trans "Ataques recientes" %}{% endblock %}

{% block contentplaceholder %}
<style>
  .page-item.active .page-link {
  background-color: lightgrey !important;
  border: 1px solid lightgrey;
  }
.page-link {
  color: black !important;
  background-color: white !important;
  }
.paginate_button a {
    padding: 10px 10px;
    margin: 5px;
    border-radius: 6px;
    border: 1px solid #474747;
 }
 table {
      border-collapse:separate !important;
      border:solid lightgrey 1px !important;
      border-radius:15px !important;
  }
  
td {
      border-left:solid lightgrey 1px !important;
      border-top:solid lightgrey 1px !important;
      border-bottom:none !important;
      border-right: none !important;
  }
  
th {
    border-top: none !important;
    border-top: none !important;
  }
  
td:first-child, th:first-child {
       border-left: none !important;
  }
</style>
<div class="container">
  {% if attacks %}

<div class="row rows-cols-4 p-5">
    <div class="mb-2">
      <i class="fa fa-shield"></i><span class="font-weight-light font-monospace">  Ataques recibidos desde <a href="https://193.145.15.26/"><span class="text-info">REM-GOLEM</span></a> </span> <br>
      <small>Las reglas se crean en base a la información que se recibe desde la aplicación REM-GOLEM.Los valores seleccionados son ip origen, protocolo y puerto con mas tráfico así como los valores propio del
        protocolo como pueden ser tcpflags, icmptype e icmpcode.</small>
    </div>
</div>

<div class="row pt-3">
    <div class="col">
        <table id="golemtable" class="table table-hover table-responsive compact w-100">
        <!-- <thead class="bg-dark text-white"> -->
          <thead>
           <tr>
               <th>Comienzo</th><th>ID </th><th>Tipo</th><th>Tiempo</th><th>Institución</th><th>Más Información</th> <th>Estado</th> 
               <th>Gráfica Golem</th> <th>Otros</th>
            </tr>
        </thead>
        <tbody>
               {% for attack in attacks %}
            <tr>
              <td><small>
                {{attack.received_at|date:"d/m/Y" }}
                {{attack.received_at|date:"H:i" }}
              </small></td>
                <td><small>
                    <a href="{% url 'golem-routes' attack.id_name %}" class="fw-bold text-danger" style="text-decoration:None;">{{attack.id_name}}</a>
                </small></td>
                {% if attack.typeof_attack %} <td><small> {{attack.typeof_attack}}</small> <br> <small>{{attack.name}} </small> </td> {% else %} <td><small> No se registró el tipo de ataque</small></td> {% endif %}
                
                <td><small> 
                  Fecha: {{attack.received_at|date:"d M Y" }} <br>
                  Comienzo: {{attack.received_at|time:"H:i"}} <br> 
                  {% if attack.status == 'Recovered' %} Duración: {{attack.get_event_duration}} {% endif %}</small></td>

                <td><small>{{attack.peer}}</small></td>
                <td><small>
                    {% if attack.ip_src %} <b>Dir Origen:</b> {{attack.ip_src}}<br> {% endif %}
                    {% if attack.ip_dest %} <b>Dir Destino:</b> {{attack.ip_dest}}<br> {% endif %}
                    {% if attack.src_port %} <b>Puerto origen:</b> {{attack.src_port}}<br> {% endif %}
                    {% if attack.port %} <b>Puerto(s):</b> {{attack.port}}<br> {% endif %}
                    {% if attack.dest_port %}<b>Puerto Destino:</b>{{attack.dest_port}}<br> {% endif %}
                    {% if attack.protocol.all %}<b>Protocolo:</b> {% for p in attack.protocol.all %} {{p}} {% endfor %}<br> {% endif %}
                    
                    <br></small> </td> 
                    {% if attack.status == 'Ongoing'  %}
                    <td><span class="badge bg-success">{{attack.status}}</span></td>
                    {% elif attack.status == 'Open' %}
                    <td><span class="badge bg-success">{{attack.status}}</span></td>
                    {% else %}
                    <td><span class="badge bg-dark">{{attack.status}}</span></td>
                    {% endif %}
                    <!-- <td><small>{{attack.max_value|floatformat}}/{{attack.typeof_value|title}} </small></td>
                    <td><small>{{attack.threshold_value|floatformat}}/{{attack.typeof_value|title}} </small></td> --> 
                    {% if attack.link %}
                    <td><small><a href="{{attack.link}}" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Mas información" class="link-info" style="text-decoration: None;">Acceso a REM-GOLEM</a></small></td>
                    {% else %}
                    <td><small>There is no more information available at the moment, we apologize for any inconvenience.</small></td>
                    {% endif %}
                    <td>
                    <div class="row">
                        <div clas="col col-2 btn-group d-inline">
                            <a href="{% url 'golem-routes' attack.id_name %}"  data-bs-toggle="tooltip" data-bs-placement="top" title="Ver reglas propuestas" class="btn m-1"><i class="bi bi-bookmark-plus"></i></a>
                            <!-- <a href="" data-bs-toggle="tooltip" data-bs-placement="top" title="Updates" class="btn btn-outline btn-sm btn-dark m-1"><i class="bi bi-gear-fill"></i></a> -->
                            <a href="" data-bs-toggle="modal" data-bs-target="#delGolemEvent" data-bs-whatever="{{attack.id_name}}" class="btn m-1"><i class="bi bi-trash" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete golem event"></i></a>
                        </div>    
                    </div>
                    </td>
            </tr>
               {% endfor %}
            </tbody>
        </table>
    
    </div>

</div>
{% else %}
<div class="row">
  <div class="alert alert-danger alert-dismissible" role="alert" >
    <p class="font-weight-light"> No se ha registrado ningún ataque en la última semana, para más información visite <a href=" https://193.145.15.26:443/atm_popup_anomaly?anomaly_info=MSwyMDIyMDgsNCxBMzg3ODU2" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="" class="link-info" style="text-decoration: None;" data-bs-original-title="REM-GOLEM">REM-GOLEM</a></p>
</div>
</div>
{% endif %}
  <div class="row m-3">
    {% include "shortcuts.html" %}
  </div>
  <div class="row">
{% include "bitacora.html" %}
</div>
</div>
<!-- Commit to router Modal -->
<div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="deleteconfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-circle"></i></button>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button href="" type="button" class="btn btn-primary">Sí</button>
          </div>
        </div>
      </div>
        </div>
        <!--  DEL GOLEM EVENT -->
        <div class="modal fade" id="delGolemEvent" tabindex="-1" aria-labelledby="delGolemEventlLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Eliminar ataque</h5>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-circle"></i></button>
              </div>
              <div class="modal-body">
                <form action="{% url 'golem-delete' %}" method="POST">
                  {% csrf_token %}
                    <input type="hidden" class="form-control" id="golem_id" name="golem_id">
                  <div class="mb-3">
                    <p class="form-control" id="text" name="text"></p>
                  </div>
                  
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Sí</button>
                </form>
              </div>
            </div>
          </div>
        </div>


{% endblock %}

{% block pagejsbottom %}
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.5/datatables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.jqueryui.min.css">
<script type="text/javascript">
$(document).ready(function(){
    $('#golemtable').DataTable({
        "order": [[ 0, "desc" ]],
        "AutoWidth": true,
        "aLengthMenu" : [
            [5, 15, 20, -1],
            [5, 15, 20, "All"]
        ],
        
        "Processing": true, 
        "DisplayLength": 5,
    });

$('#submitButton1').click(function(){
      $.ajax({
              url: "{% url 'add-route' %}",
              type: "GET",
              dataType: "json",
              success: (data) => {
              },
              error: (error) => {
                console.log(error);
              }
            });
     });


     var exampleModal = document.getElementById('delGolemEvent');
            exampleModal.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget;
            // Extract info from data-bs-* attributes
            var recipient = button.getAttribute('data-bs-whatever');
            // If necessary, you could initiate an AJAX request here
            // and then do the updating in a callback.
            //
            // Update the modal's content.
            var modalTitle = exampleModal.querySelector('#text');
            var modalBodyInput = exampleModal.querySelector('#golem_id');

            modalTitle.textContent = ('Ataque: ' + recipient);
            modalBodyInput.value = recipient;
        });


    })
     </script>
{% endblock %}