{% extends "../base.html" %}
{% load static %}
{% load i18n %}
{% block extrahead %}
<!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css"> -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.3/datatables.min.css"/>
<link rel="stylesheet" href="{% static 'css/table_style.css' %}">
<link rel="stylesheet" href="{% static 'css/section_style.css' %}">
{% endblock %}
{% block title %}{% trans "Ataques recientes" %}{% endblock %}

{% block contentplaceholder %}

<div class="container">
<div class="row rows-cols-4 p-5">
    <div class="col">
        <h5 class="font-weight-light text-right">Attacks recieved by <span class="text-danger">REM-GOLEM</span></h5>
    </div>
</div>
<div class="row pt-3">
    <div class="col">
        <table id="golemtable" class="table table-hover table-responsive compact w-100">
        <thead class="bg-dark text-white">
           <tr>
               <th><small>ID </small></th><th><small>Type</small></th><th><small>Starts</small></th><th><small>Peer</small></th><th><small>More information</small></th> <th><small>Status</small></th> 
               <th><small>Max Value</small></th> <th><small>Threshold </small></th> <th><small>Actions</small></th>
            </tr>
        </thead>
        <tbody>
               {% for attack in attacks %}
            <tr>
                <td><small><a href="{% url 'golem-routes' attack.id_name %}" class="link-dark">{{attack.id_name}}</a></small></td>
                {% if attack.typeof_attack %} <td><small> {{attack.typeof_attack}}</small></td> {% else %} <td><small> No se registró el tipo de ataque</small></td> {% endif %}
                <td><small>{{attack.received_at}}</small></td>
                <td><small>{{attack.peer}}</small></td>
                <td><small>
                    {% if attack.ip_src %} Src Addr: {{attack.ip_src}}<br> {% endif %}
                    {% if attack.ip_dest %} Dest Addr: {{attack.ip_dest}}<br> {% endif %}
                    {% if attack.src_port %} Src Port: {{attack.src_port}}<br> {% endif %}
                    {% if attack.port %} Port: {{attack.port}}<br> {% endif %}
                    {% if attack.dest_port %} Dest. Port:{{attack.dest_port}}<br> {% endif %}
                    {% if attack.protocol.all %} Protocol: {% for p in attack.protocol.all %} {{p}} {% endfor %}<br> {% endif %}
                    {% if attack.tcpflag %} Tcpflag:  {{attack.tcpflag}} {% endif %} <br></small> </td> 
                    <td><small>{{attack.status}} </small></td>
                    <td><small>{{attack.max_value|floatformat}}/{{attack.typeof_value|title}} </small></td>
                    <td><small>{{attack.threshold_value|floatformat}}/{{attack.typeof_value|title}} </small></td> 
                    <td>
                    <div class="row">
                        <div clas="col col-2 btn-group d-inline">
                            <a href="{% url 'golem-routes' attack.id_name %}"  data-bs-toggle="tooltip" data-bs-placement="top" title="View rules" class="btn btn-sm btn-outline btn-dark m-1"><i class="bi bi-bookmark-plus"></i></a>
                            <a href="{% url 'golem-updates' attack.id_name %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Updates" class="btn btn-outline btn-sm btn-dark m-1"><i class="bi bi-gear-fill"></i></a>
                            <a href="{% url 'golem-delete' attack.id_name %}"  data-bs-toggle="tooltip" data-bs-placement="top" title="Delete golem event" class="btn btn-outline btn-sm btn-dark m-1"><i class="bi bi-trash"></i></a>
                        </div>    
                    </div>
                    </td>
            </tr>
               {% endfor %}
            </tbody>
        </table>
    
    </div>

</div>

<section>
<div class="col-sm-6 mt-5" id="section">
    <div class="card">
                <h5 class="card-title text-left">Shortcuts</h5>
                <div class="card-body btn-group">
                    <a href="#" class="btn btn-info btn-sm float-left" data-bs-toggle="modal" data-bs-target="#addRouteM" id="submitButton1"><i class="bi bi-shield-plus"></i> Add Route</a>
                    <a class="btn btn-info btn-sm float-left ml-2" href="{% url 'group-routes' %}"> <i class="bi-table"></i> User Routes</a>
                    <a href="{% url 'pending-routes' %}" type="button" class="btn btn-info btn-sm float-left ml-2"> <i class="bi-clipboard"></i> Proposed Routes</a>
                    <a class="btn btn-info btn-sm float-left ml-2" href="{% url 'dashboard' %}"> <i class="bi-clipboard"></i> Dashboard</a>
                </div>
            </div>
      </div>
</section>
</div>

</div>
{% endblock %}

{% block pagejsbottom %}
<!-- <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.5/datatables.min.js"></script> -->
<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.5/af-2.3.7/b-2.2.2/datatables.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('#golemtable').DataTable({
        "order": [[ 1, "asc" ]],
        "AutoWidth": true,
        "aLengthMenu" : [
            [5, 15, 20, -1],
            [5, 15, 20, "All"]
        ],
        
        "Processing": true, 
        "DisplayLength": 5,
    });

$('#submitButton1').click(function(){
      $.ajax({
              url: "{% url 'add-route' %}",
              type: "GET",
              dataType: "json",
              success: (data) => {
                console.log('it worked');
              },
              error: (error) => {
                console.log(error);
              }
            });
     });
    })
     </script>
{% endblock %}