{% extends "../base.html" %}
{% load static %}
{% load i18n %}


{% block extrahead %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.3/datatables.min.css"/>
<link rel="stylesheet" href="{% static 'css/table_style.css' %}">
<link rel="stylesheet" href="{% static 'css/section_style.css' %}">
{% endblock %}
{% block title %}{% trans "Attack's updates" %}{% endblock %}
{% block contentplaceholder %}
{% csrf_token %}
<div class="container">
    <div class="row m-2 p-5">
        <div class="col">
            <h5 class="text-end font-weight-light"> Attack with ID: <span class="text-danger">{{golem.id_name}}</span></h5>
            <small>Las reglas se crean en base a la información que se recibe desde la aplicación REM-GOLEM.Los valores seleccionados son ip origen, protocolo y puerto con mas tráfico así como los valores propio del
              protocolo como pueden ser tcpflags, icmptype e icmpcode.</small>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <a href="{% url 'attack-list' %}" class="fw-light text-danger text-start" style="text-decoration: none;"> <i class="bi bi-arrow-left-short"></i> REM-Golem events</a>
        </div>
    </div>

    <div class="row mt-5">
        {% if updates %}
        {% for update in updates %}
        <div class="col-sm-3 font-weight-bold">Update</div>
        <div class="col-sm-9 text-truncate">{{update}}</div>
        {% endfor %}
        {% else %}
        <p class="text-center text-sm-left">There are no updates right now, please wait a few minutes for any updates.</p>
        {% endif %}
    </div>

    <div class="row p-2 mt-3">
      {% include "shortcuts.html" %}
        <!-- <div class="col">
          <div class="card float-right">
                      <h5 class="card-header text-left">Shortcuts</h5>
                      <div class="card-body btn-group">
                        <div class="card-text btn-group">
                          {% if not request.COOKIES.token %}
                          <a class="btn btn-sm btn-outline float-left" id="routebutton" href="#" data-bs-toggle="modal" data-bs-target="#addRouteM"><i class="bi bi-shield-plus text-warning mr-1"></i>Añadir Regla</a>
                          {% else %}
                          <a href="{% url 'add' %}" class="btn btn-sm float-left" id="routebutton"><i class="bi bi-shield-plus text-warning mr-1"></i>Añadir Regla</a>
                          {% endif %}
                          <a class="btn btn-sm float-left ml-2" href="{% url 'group-routes' %}"> <i class="bi-table text-secondary mr-1"></i>Reglas</a>
                          <a href="{% url 'pending-routes' %}" type="button" class="btn btn-sm float-left ml-2"> <i class="bi-clipboard text-danger mr-1"></i>Reglas propuestas</a>
                          <a class="btn btn-sm float-left ml-2" href="{% url 'dashboard' %}"> <i class="bi-clipboard text-info mr-1"></i>Dashboard</a>
                      </div>
                    </div>
                  </div>
            </div> -->
      </div>
{% endblock %}

{% block pagejsbottom %}
<!-- <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.5/datatables.min.js"></script> -->
<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.5/af-2.3.7/b-2.2.2/datatables.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('#updates_table').DataTable({
        "order": [[ 1, "asc" ]],
        "AutoWidth": true,
        "aLengthMenu" : [
            [5, 15, 20, -1],
            [5, 15, 20, "All"]
        ],
        
        "Processing": true, 
        "DisplayLength": 5,
    });
})
$('#routebutton').click(function(){
      $.ajax({
              url: "{% url 'add-route' %}",
              type: "GET",
              dataType: "json",
              success: (data) => {
                console.log('it worked');
              },
              error: (error) => {
                console.log(error);
              }
            });
     });
    </script>
{% endblock %}