{% extends "../base.html" %}
{% load i18n %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/plugins/dataTables/style.css' %}">
<link rel="stylesheet" href="{% static 'css/plugins/dataTables/style.scss' %}">
<link rel="stylesheet" href="{% static 'css/section_style.css' %}">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.12.1/datatables.min.css"/>

{% endblock %}
{% block title %}{% trans "Ataques recientes" %}{% endblock %}

{% block contentplaceholder %}
<div class="container">

<div class="row rows-cols-4 p-5">
    <div class="col">
        <h5 class="fw-light">Reglas propuestas para mitigar el ataque: <a href="{{link}}" class="text-info" target="_blank" style="text-decoration:none;">  {{golem_name}}</a> </h5>
        <small>Las reglas se crean en base a la información que se recibe desde la aplicación REM-GOLEM.Los valores seleccionados son ip origen, protocolo y puerto con mas tráfico así como los valores propio del
            protocolo como pueden ser tcpflags, icmptype e icmpcode.</small>
    </div>
</div>
<div class="row">
    <div class="col">
        <a href="{% url 'attack-list' %}" class="fw-light text-info text-start" style="text-decoration: none;"> <i class="bi bi-arrow-left-short"></i> REM-GOLEM events</a>
    </div>
</div>
<div class="row pt-3">
    <div class="col">
        {% if routes != None %}
        <table id="golem_routes_table" class="table table-striped table-bordered  table-hover table-responsive cell-border display compact w-100 pretty">
        <thead class="">
           <tr>
               <th><small>ID</small></th><th><small>Creación</small></th><th><small>Dir Destino</small></th><th><small>Dir Origen</small></th><th><small>Más información</small></th><th><small>Estado</small></th><td><small>Otros</small></th>
            </tr>
        </thead>
        <tbody>
               {% for route in routes %}
            <tr>
                <td class="text-info"><small>{{route.name}}</small></td>
                <td><small>{{route.filed|time:"H:i"}}, {{route.filed|date:"d M Y"}}</small></td>
                <td>{% if route.destination %} <small>{{route.destination}}</small><br> {% endif %}</td>
                <td> {% if route.source %} <small>{{route.source}}</small><br> {% endif %} </td>
                <td> 
                    {% if route.protocol %} <small>Protocolo: {% for p in route.protocol.all %} {{p}} {% endfor %}</small><br> {% endif %} 
                    {% if route.sourceport %} <small>Puerto Origen: {{route.sourceport}}</small><br> {% endif %}
                    {% if route.destinationport %} <small>Puerto Dest: {{route.destinationport}}</small><br> {% endif %}
                    {% if route.tcpflag %} <small>Tcpflag: {{route.tcpflag}}</small><br> {% endif %}
                    {% if route.icmptype %} <small>Icmptype: {{route.icmptype}</small><br> {% endif %}
                    {% if route.icmpcode %} <small>Icmpcode: {{route.icmpcode}}</small><br> {% endif %}
                </td>
                {% if route.status == 'ACTIVE' %}
                <td><span class="badge bg-success">{{route.status}}</span></td>
                {% endif %}
                {% if route.status == 'OUTOFSYNC' %}
                <td><span class="badge bg-info">{{route.status}}</span></td>
                {% endif %}
                {% if route.status == 'EXPIRED' %}
                <td><span class="badge bg-info">{{route.status}}</span></td>
                {% endif %}
                {% if route.status == 'PENDING' %}
                <td><span class="badge bg-info">{{route.status}}</span></td>
                {% endif %}
                {% if route.status == 'PROPOSED' %}
                <td><span class="badge bg-info">{{route.status}}</span></td>
                {% endif %}
                {% if route.status == 'ERROR' %}
                <td><span class="badge bg-warning">{{route.status}}</span></td>
                {% endif %}
                {% if route.status == 'INACTIVE' %}
                <td><span class="badge bg-warning">{{route.status}}</span></td>
                {% endif %}

                <td>
                    <div class="col-2 btn-group d-inline">
                    {% if not route.status == 'ACTIVE' %}
                        {% if not request.COOKIES.token %}
                            <a  href="{% url 'vcommit' route.name %}"  id="commitbutton" data-bs-toggle="tootltip" data-bs-placement="top" title="Commit regla" class="btn m-1"><i class="bi bi-patch-plus"></i></a>
                        {% else %}
                            <a href="{% url 'commit' route.name %}" id="commitbutton"  data-bs-toggle="tooltip"  data-bs-placement="top" title="Commit regla" class="btn m-1"><i class="bi bi-patch-plus"></i></a>  
                    {% endif %}
                    {% endif %}
                    {% if not request.COOKIES.token %}
                    <a href="{% url 'edit-route' route.name  %}"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Editar regla" class="btn m-1"><i class="bi bi-pencil"></i></a>
                    {% else %}
                    <a href="{% url 'edit' route.name  %}"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Editar regla" class="btn m-1"><i class="bi bi-pencil"></i></a>
                    {% endif %}
                    <a href="{% url 'exterminate' route.name  %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Eleminar regla de la base de datos" class="btn m-1"><i class="bi bi-trash"></i></a>
                </div>
                </td>
            </tr>
               {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="fw-light">No hay reglas asociadas a este ataque todavía. Porfavor contacte con RediMadrid en caso de que no se proponga ninguna regla antes de que finalice el ataque.</p>
        {% endif %}
    </div>
</div>


<div class="row mb-3 pb-3">
    <div class="col">
      {% include "shortcuts.html" %}
    </div>
  
  </div>
  <div class="row">
    {% include "bitacora.html" %}
  </div>
</div>




{% endblock %}

{% block pagejsbottom %}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.5/af-2.3.7/b-2.2.2/datatables.min.js"></script>
<script type="text/javascript">
    $('#routebutton').click(function(){
      $.ajax({
              url: "{% url 'add-route' %}",
              type: "GET",
              dataType: "json",
              success: (data) => {
                /* console.log('it worked'); */
              },
              error: (error) => {
                console.log(error);
              }
            });
     });
   
    $(document).ready(function(){
        $('#golemtable').DataTable({
            "order": [[ 0, "desc" ]],
            "bAutoWidth": true,
            "aLengthMenu" : [
                [5, 15, 20, -1],
                [5, 15, 20, "All"]
            ],
            
            "bProcessing": true, 
            "iDisplayLength": 5,
        });

        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
            });

    })
        </script>



{% endblock %}