{% extends "../base1.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block contentplaceholder %}
<div class="container">
<div class="row">
  <div class="col l12 m12 s12 center">
    <h5>{% trans "Sign In" %}</h5>
    </div>
    </div>

{% get_providers as socialaccount_providers %}
<div class="row">
  <div class="col l12 m12 s12 center">
      {% if socialaccount_providers %}
          <p>{% blocktrans with site.name as site_name %}Please sign in with one
          of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
          for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

          <div class="socialaccount_ballot">

            <ul class="socialaccount_providers">
              {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>

            <div class="login-or">{% trans 'or' %}</div>

          </div>

      {% include "socialaccount/snippets/login_extra.html" %}
  </div>
</div>
{% else %}
<div class="row">
    <div class="col l12 m12 s12 center">
      <p>{% blocktrans %}If you have not created an account yet, then please
      <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
      {% endif %}
    </div>
</div>

  
      <form method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        <div class="row">
        <div class="col l6 m6 s6 left">
          <label for="id_name" class="col l4 m4 s4 black-text"><b>{% trans "Name" %}</b></label>
        </div>
        <div class="col l6 m6 s6 right">	
          {% render_field form.login placeholder="Introduce your user name" %}
        </div>
        </div>
        <div class="row">
        <div class="col l6 m6 s6 left">
          <label for="id_password" class="col l4 m4 s4 black-text"><b>{% trans "Password" %}</b></label>
        </div>
        <div class="col l6 m6 s6 right">	
          {% render_field form.password placeholder="Introduce your password" %}
        </div>
        </div>    
            {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="row">
        <div class="col l10 m10 s10 left">
        <a class="secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </div>
        <div class="col l2 m2 s2 right">
            <button class="primaryAction btn waves-effect waves-light" type="submit">{% trans "Sign In" %}</button>
      </div>
    </div>
      </form>
  
</div>

{% endblock %}
