{% extends "../base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block contentplaceholder %}
<div class="container-fluid p-5">
<div class="row m-2">
  <div class="col text-center m-2 p-2">
    <h4 class="fw-light">{% trans "Sign In" %}</h4>
    </div>
    </div>

{% get_providers as socialaccount_providers %}
<div class="row">
  <div class="col align-middle">
      {% if socialaccount_providers %}
          <p>{% blocktrans with site.name as site_name %}Please sign in with one
          of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
          for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

          <div class="socialaccount_ballot">

            <ul class="socialaccount_providers">
              {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>

            <div class="login-or">{% trans 'or' %}</div>

          </div>

      {% include "socialaccount/snippets/login_extra.html" %}
  </div>
</div>
{% else %}
<div class="row">
    <div class="col float-end">
      <p class="text-end">{% blocktrans %}If you have not created an account yet, then please
      <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
      {% endif %}
    </div>
</div>

<div class="row">
  <div class="col">
      <form method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        <div class="row">
        <div class="col col-6 float-start">
          <label for="id_name" class="col text-center col-4 form-label"><b>{% trans "Name" %}</b></label>
        </div>
        <div class="col col-6 float-center">	
          {% render_field form.login placeholder="Introduce your user name" %}
        </div>
        </div>
        <div class="row">
        <div class="col col-6 float-start">
          <label for="id_password" class="col text-center col-4 form-label"><b>{% trans "Password" %}</b></label>
        </div>
        <div class="col col-6">	
          {% render_field form.password placeholder="Introduce your password" %}
        </div>
        </div>    
            {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="row">
        <div class="col col-6 float-start m-2">
        <a class="secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </div>
        <div class="col col-2 float-end m-2">
            <button class="primaryAction btn btn-outline-info float-end" type="submit">{% trans "Sign In" %}</button>
      </div>
    </div>
      </form>
    </div>
  </div>
  
</div>

{% endblock %}
