{% extends "../base1.html" %}

{% load i18n %}

{% block title %}{% trans "Sign Out" %}{% endblock %}

{% block contentplaceholder %}
<div class="container">
<div class="row">
  <div class="col l12 m12 s12 center">
    <h5>{% trans "Sign Out" %}</h5>
    </div>
    </div>
<div class="row">
  <div class="col l12 m12 s12 center">
<p>{% trans 'Are you sure you want to sign out?' %}</p>
</div>
<div class="divider"></div>
<div class="section">
<div class="row">
<div class="col l12 m12 s12 center">
<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="btn waves-effect waves-teal rigth" type="submit">{% trans 'Sign Out' %}</button>
</form>
</div>
</div>
</div>
{% endblock %}
