{% extends "../base1.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block contentplaceholder %}
<div class="container">
<div class="row">
    <div class="col l12 m12 s12 center">
    <h5>{% trans "Change Password" %}</h5>
    </div>
    </div>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="row">
            <div class="col l6 m6 s6 right">
        <button type="submit" class="btn waves-effect center" name="action">{% trans "Change Password" %}</button>
        </div>
        <div class="col l6 m6 s6 left">
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </div>
    </form>

</div>
{% endblock %}
