{% extends "../base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Reestablecer contraseña" %}{% endblock %}

{% block contentplaceholder %}
<div class="container-fluid">
    <div class="row pb-5">
      <div class="col">
        <h5 class="align-middle">{% trans "Recuperar contraseña" %}</h5>
    </div>
    </div>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <div class="row">
        <div class="col">
                <p>{% blocktrans %}
                    Hemos enviado un correo electrónico al email proporcionado. Porfavor contacte con RediMadrid si no ha recibido el correo en unos minutos.{% endblocktrans %}</p>
        </div>
    </div>
</div>
    {% endblock %}
