{% extends "../base1.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block contentplaceholder %}
<style>
    label{
      font-size: 15px;
    }
  </style>
<div class="container">
    <div class="row">
        <div class="col l12 m12 s12 center">
    <h5>{% trans "Password Reset" %}</h5>
    </div>
    </div>
    <div class="row">
        <div class="col l12 m12 s12 left">
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col l12 m12 s12 center">   
    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
    </div>
</div>
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <div class="row">
            <div class="col l6 m6 s6 left">
              <label for="id_email" class="col l4 m4 s4 black-text"><b>{% trans "Email" %}</b></label>
            </div>
            <div class="col l6 m6 s6 right">	
              {% render_field form.email class+="validate" placeholder="Please introduce your email" %}
            </div>
            </div>
            <div class="divider"></div>
            <div class="section">
         <div class="row">
             <div class="col l12 m12 s12 center">   
        <input type="submit" class="btn waves-effect " value="{% trans 'Reset My Password' %}">
        </div>
        </div>
        </form>

        <div class="row">
        <div class="col l12 m12 s12 center"> 
    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
    </div>
    </div>

    </div>
{% endblock %}
