{% extends "../base.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block contentplaceholder %}
<div class="container-fluid p-5">
<div class="row m-2">
    <div class="col">
    <h5 class="text-end">{% trans "Change Password" %}</h5>
    </div>
    </div>
<hr>
    <form method="POST" action="{{ account_change_password }}">
        {% csrf_token %}
        <div class="row p-1">
            <label for="id_oldpassword" class="col col-2 form-label"><b>Current password: </b></label>
            <div class="col col-6">
                {% render_field form.oldpassword class+="form-control" %}
            </div>
        </div>

        <div class="row p-1">
            <label for="id_password1" class="col col-2 form-label"><b>New password: </b></label>
            <div class="col col-6">
                {% render_field form.password1 class+="form-control" %}
            </div>
        </div>

        <div class="row p-1">
            <label for="id_password2" class="col col-2 form-label"><b>New password(again): </b></label>
            <div class="col col-6">
                {% render_field form.password2 class+="form-control" %}
            </div>
        </div>

        <div class="row">
            <div class="col">
        <button type="submit" class="btn btn-outline-info float-end" name="action">{% trans "Change Password" %}</button>
        </div>
        </div>
        <div class="row">
        <div class="col">
        <a href="{% url 'account_reset_password' %} text-end">{% trans "Forgot Password?" %}</a>
        </div>
    </div>
    </form>

</div>
{% endblock %}
