{% extends "../base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block contentplaceholder %}
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Cambio de contraseña" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}
            El link que se ha mandado no es válido, ya ha sido usado. Porfavor solicite un nuevo link <a href="{{ passwd_reset_url }}">aquí.</a>{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                <div class="row p-1">
                    <label for="id_password1" class="col col-2 form-label"><b>Nueva contraseña: </b></label>
                    <div class="col col-6">
                        {% render_field form.password1 class+="form-control" placeholder="Nueva contraseña" %}
                    </div>
                </div>
        
                <div class="row p-1">
                    <label for="id_password2" class="col col-2 form-label"><b>Nueva contraseña (repetir): </b></label>
                    <div class="col col-6">
                        {% render_field form.password2 class+="form-control" placeholder="Nueva contraseña(repetir)" %}
                    </div>
                </div>
                <input type="submit" name="action" class="btn btn-outline-info" value="{% trans 'Cambiar contraseña' %}"/>
            </form>
        {% else %}
            <p>{% trans 'Tu contraseña ha sido cambiada.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
