{% extends "../base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block contentplaceholder %}
<style>
    label{
      font-size: 15px;
    }
  </style>
<div class="container-fluid">
    <div class="row">
        <div class="col">
        <p class="text-info">Has olvidado tu contraseña? Por favor, introduce tu email y te mandaremos un link para poder reestablecerla.</p>
    </div>
    </div>
    <div class="row">
        <div class="col float-end">
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        </div>
    </div>
<div class="row">
  <div class="col">
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <div class="row">
            <div class="col col-2 float-start">
              <label for="id_email" class="black-text"><b>{% trans "Email: " %}</b></label>
            </div>
            <div class="col col-6">	
              {% render_field form.email class+="validate" placeholder="Introduce tu email" %}
              <input type="submit" class="btn btn-outline-info btn-sm" value="{% trans 'Enviar link' %}">
            </div>
            </div>
              
        </form>

        <div class="row">
          <div class="col"> 
            <p class="text-muted">{% blocktrans %}Porfavor contacte con RediMadrid en caso de no poder reestablecer su contraseña.{% endblocktrans %}</p>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
