{% extends "../base.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}{% trans "Change your password" %}{% endblock %}

{% block contentplaceholder %}
<div class="container-fluid p-5 font-monospace">
<div class="row m-2">
    <div class="col p-2">
    <h5 class="font-monospace text-muted">{% trans "Cambiar tu contraseña" %}</h5>
    </div>
    </div>


    <form method="POST" action="{{ account_change_password }}">
        {% csrf_token %}
        <div class="row p-1">
            <label for="id_oldpassword" class="col col-2 form-label"><b>Contraseña actual: </b></label>
            <div class="col col-6">
                {% render_field form.oldpassword class+="form-control" placeholder="Contraseña actual" %}
            </div>
        </div>

        <div class="row p-1">
            <label for="id_password1" class="col col-2 form-label"><b>Nueva contraseña: </b></label>
            <div class="col col-6">
                {% render_field form.password1 class+="form-control" placeholder="Nueva contraseña" %}
            </div>
        </div>

        <div class="row p-1">
            <label for="id_password2" class="col col-2 form-label"><b>Nueva contraseña (repetir): </b></label>
            <div class="col col-6">
                {% render_field form.password2 class+="form-control" placeholder="Nueva contraseña(repetir)" %}
            </div>
        </div>

        <div class="row">
            <div class="col">
        <button type="submit" class="btn btn-outline-info float-end float-right" name="action">{% trans "Cambiar contraseña" %}</button>
        </div>
        </div>
        <div class="row">
        <div class="col pt-2">
        <a href="{% url 'account_reset_password' %} text-end" class="float-right text-muted">{% trans "Has olvidado tu contraseña?" %}</a>
        </div>
    </div>
    </form>

</div>
{% endblock %}
