{% extends "../base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block contentplaceholder %}
<style>
  label{
    font-size: 15px;
  }
</style>
<script>
  function avoidMultipleSubmitting(){
    document.getElementById('registerButton').disabled=true; 
  }
</script>
<div class="container-fluid p-5">
    
  <div class="row">
      <div class="col m-2 p-2">
      <h4 class="fw-light">{% trans "Register" %}</h4>
      </div>  
    </div>

  <div class="row">
        <div class="col">
      <p>{% blocktrans %} Already have an account? Then log-in through the following <a href="{{ login_url }}">link</a>.{% endblocktrans %}</p>
      </div>
  </div>


<form id="signup_form" method="POST" action="{{ account_signup }}" class="row g-3">
  
  {% csrf_token %}

      <div class="row g-3">
        <div class="col col-md-6">
          <label for="id_email" class="col l4 m4 s4 black-text"><b>{% trans "Email:" %}</b></label>
          {% render_field form.email class+="form-control validate" placeholder="Introduce your email" %}
        </div>
        </div>

        
          
              <div class="row">
                <div class="col col-md-6">
                  <label for="id_lastname" class="col l4 m4 s4 black-text"><b>{% trans "Username:" %}</b></label>
                  {% render_field form.username class+="form-control validate" placeholder="Introduce your username" %}
                </div>
                </div>
                <div class="row p-1">
                  <p class="fw-light"><small><i>We recommend using the first letter of your name followed by your surname (Ex. Name: Juan Díaz, username: jdiaz) </i><br>
                    Please keep in mind that you will be using your username for loging into REM-E-DDOS.</small></i></small>
                  </p>
                </div>
          <div class="row">
            <div class="col col-md-6">
              <label for="id_password1" class="col l4 m4 s4 black-text"><b>{% trans "Password:" %}</b></label>
              {% render_field form.password1 class+="form-control validate" placeholder="Introduce your password" %}
            </div>
            </div>

          <div class="row">
            <div class="col col-md-6">
              <label for="id_password2" class="col l4 m4 s4 black-text"><b>{% trans "Repeat your password:" %}</b></label>	
              {% render_field form.password2 class+="form-control validate" placeholder="Introducir your password again" %}
            </div>
            </div>
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}

          <div class="row p-2">
            <div class="col col-6">
                  <button type="submit" class="btn btn-outline-info">{% trans "Register profile" %}</button>
            </div>
          </div>
</form>

<div class="row g-3 p-5">
  <figure class="figure col col-3">
    <img src="{% static 'redimadrid_horizontal.png' %}" alt="RediMadrid logo" class="figure-img img-fluid w-75">
  </figure>
  <figure class="figure col col-3">
    <img src="{% static 'imdea_logo.jpg' %}" class="figure-img img-fluid w-50 h-50" alt="IMDEA Software Madrid Logo">
    <figcaption class="figure-caption text-center">RediMadrid - IMDEA Software Institute</figcaption>
  </figure>
  
</div>

</div>

{% endblock %}
