{% extends "../base.html" %}

{% load i18n %}

{% block title %}{% trans "Verifica tu identidad" %}{% endblock %}

{% block contentplaceholder %}

<div class="container-fluid p-5">

  <div class="row">
    <div class="col m-2 p-2">
      <h4 class="fw-light">{% trans "Verifica tu dirección de correo electrónico" %}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
    <p>{% blocktrans %}
      Hemos enviado un correo a la dirección que nos ha sido facilitada. Por favor verifica tu identidad a través de el link incluido en el email. Contacte con REDIMadrid en caso de haber algún problema o de no haber recibido el email.
    {% endblocktrans %}</p>
</div>

</div>
{% endblock %}
