{% extends "../base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block contentplaceholder %}
<div class="container-fluid p-5">


    <div class="row">
      <div class="col">
            <h4>{% trans "Verifica tu identidad" %}</h4>
      </div>
    </div>

{% url 'account_email' as email_url %}
    <div class="row">
      <div class="col alert alert-info" role="alert">
            <p>{% blocktrans %}
            Para poder acceder a la aplicación necesitamos verificar tu identidad. Es por esto por lo que debes verificar tu correo electrónico a través del email que le hemos enviado. En caso de error no dude en consultar con nosotros. {% endblocktrans %}</p>
      </div>
    </div>

    <div class="row">
      <div class="col alert alert-info" role="alert" >
            <p>{% blocktrans %}Hemos enviado un correo a la dirección que nos ha facilitado si este no ha llegado en unos minutos por favor póngase en concacto con nosotros.{% endblocktrans %}</p>
        </div>
    </div>  
</div>

{% endblock %}
