{% extends "../base.html" %}

{% load i18n %}

{% block title %}{% trans "Verifica tu identidad" %}{% endblock %}

{% block contentplaceholder %}

<div class="container-fluid p-5">

  <div class="row">
    <div class="col m-2 p-2">
      <h4 class="fw-light">{% trans "Verifica tu dirección de correo electrónico" %}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
    <p>{% blocktrans %} Hemos enviado un correo de verificación a la cuenta de email proporcionada. Pincha en el link que hay dentro del correo para terminar el proceso. Por favor contacte con RediMadrid si hay algún problema o tiene usted alguna duda {% endblocktrans %}</p>
</div>

</div>
{% endblock %}
