{% extends "../base.html" %}
{% load widget_tweaks %}

{% load i18n %}
   {% block sidenav %}{% endblock %}
   {% block extraheadbottom %}
<style>
	@media (min-width: 768px) {
		#page-wrapper {
		    border-left: none;
		    margin: 0;
		}
}
</style>
<link href="{{STATIC_URL}}js/select2/select2.css" rel="stylesheet">
<link href="{{STATIC_URL}}js/select2/select2-bootstrap.css" rel="stylesheet">
{% endblock %}

       {% block contentplaceholder %}
       <div class="container">
       <div class="row">
                <div class="col">
                    <i class="fa fa-user"></i> <span class="text-info font-monospace ml-2"> Activar Perfil de Usuario</span>
					<p class="text-muted ml-2"> Solo se puede asociar un usuario a una instituciones por cuestiones de seguridad. El único usuario que pertenezca a más de una institución debería de ser el superusuario.</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <div class="row mt-2">
                        <!-- /.panel-heading -->
						<form method="POST" class="g-3 align-items-center" action="{% url 'activate-account' %}">
							{% csrf_token %}
							<div class="form-group align-items-center">
							<label class="col col-2 control-label" for="#"><b>{% trans "Users" %}</b></label>
							<div class="form-group {% if form.user.errors %} has-error {% endif %}">
								<div class="col col-8">
		            				{% for user in users %}
									<div class="form-check">
										<input type="checkbox" class="form-check-input" id="id_user" value="{{user}}" name="user">
										<label for="id_user" class="form-check-label"> {{user.username}} {% if user.profile and user.username != 'remadmin' %} <span class="text-info"> {% for peer in user.profile.peers.all %} ({{peer.peer_name}}) {% endfor %} </span> {% elif user.username == 'remadmin' %} <span class="text-info"> (Pertenece a todas las instituciones) </span>  {% else %} <span class="text-danger"> (No pertenece a ninguna institución) </span> {% endif %} </label>
									</div>
		           					{% endfor %}
		       					 </div>
							</div>
							<div class="form-group {% if form.peers.errors %} has-error {% endif %}">
								<label class="col col-2 control-label" for="#"><b>{% trans "Institutions" %}</b></label>
								<div class="col col-8">
		            				{% for peer in peers %}
									<div class="form-check">
										<input type="checkbox" class="form-check-input" id="id_peer" value="{{peer}}" name="peer">
										<label for="id_peer" class="form-check-label"> {{peer}}</label>
									</div>
		           					{% endfor %}
		       					 </div>
							</div>
						</div>	

							<div class="form-group">
				 	<div class="col col-2"></div>
				 	 	<div class="col col-8">
							<button type="submit" id="applybutton" value="{% trans 'Apply' %}" class="btn btn-outline btn-info">{% trans "Activate" %}</button>
						</div>
					</div>
				</form>
    	</div>
	</div>
</div>

	{% endblock %}

{% block pagejsbottom %}
	<script type="text/javascript" src="{{STATIC_URL}}js/select2/select2.js"></script>
	<script>
		$(document).ready( function(){
			$('#id_peers').select2();
		});
	</script>
{% endblock %}

