.page-item.active .page-link {
    background-color: lightgrey !important;
    border: 1px solid lightgrey;
    }
  .page-link {
    color: black !important;
    background-color: white !important;
    }
table {
      border-collapse:separate !important;
      border:solid lightgrey 1px !important;
      border-radius:15px !important;
  }
  
td {
      border-left:solid lightgrey 1px !important;
      border-top:solid lightgrey 1px !important;
      border-bottom:none !important;
      border-right: none !important;
  }
  
th {
    border-top: none !important;
    border-top: none !important;
  }
  
td:first-child, th:first-child {
       border-left: none !important;
  }

#section{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px !important ;
}