{% extends "base.html" %}
{% load i18n %}
{% load static %}


{% block title %}{% trans "Verify your identity" %}{% endblock %}
{% block contentplaceholder  %}
<style>
    label{
        font-size: 20px;
    }
    /* .container{
        height: 100%;
    } */

</style>
<div class="container-fluid p-5">
    <div></div>
    <div class="row">
    <div class="col text-end">
        {% if status == "add" %}
        <h4 class="page-header">{% trans "Add a new rule" %}</h4>
        {% endif %}
        {% if status == "edit" %}
        <h4 class="page-header">{% trans "Edit a rule" %}</h4>
        {% endif %}
        {% if status == "delete" %}
        <h4 class="page-header">{% trans "Delete a rule" %}</h4>
        {% endif %}
    </div>
</div>
    <div class="form-group">
<form method="POST" class="row row-cols-lg-auto g-3 align-items-center">
            {% csrf_token %}
            <label for="id_value" class="form-label">Value: </label>
            <input type="text" id="id_value" name="value" class="form-control" aria-describedby="valueHelpBlock">
            <div id="valueHelpBlock" class="form-text">
            <p class="text-center">Please introduce the code that has been sent to your redifod account.</p>
            </div>
            <div class="row">
                <div class="col col-5 float-end m-5">
                    <input type="submit" class="btn btn-outline-primary text-end" value="Submit">
                </div>
            </div>
            
        </form>
    </div>
</div>

{% endblock %}