{% extends "base.html" %}
{% load i18n %}
{% load static %}


{% block title %}{% trans "Verify your identity" %}{% endblock %}
{% block contentplaceholder  %}
<style>
    label{
        font-size: 20px;
    }
    /* .container{
        height: 100%;
    } */

</style>
<div class="container p-5">
    <div></div>
    <div class="row">
    <div class="col text-center">
        {% if status == "edit" %}
        <h3 class="fw-light page-header ">Do you wish to edit the following route:  <span class="text-info"> {{route.name}} </span> ?</h3>
        {% endif %}
        {% if status == "delete" %}
        <h3 class="fw-light page-header ">Do you wish to delete the following route:  <span class="text-info"> {{route.name}} </span> ?</h3>
        {% endif %}
    </div>
</div>

<div class="container-fluid p-5">
<div class="row">
<form method="POST" class="col-6 g-3 align-items-center">
            {% csrf_token %}
            <div class="col-md-8">
            <label for="id_value" class="form-label">Value: </label>
            <input type="text" id="id_value" name="value" class="form-control" aria-describedby="valueHelpBlock">
         
            <p class="text-center fw-light">Please introduce the code that has been sent to your redifod account.</p>
            </div>
                <div class="col-12">
                    <input type="submit" class="btn btn-outline-info align-middle" value="Submit">
                </div>
        </form>
        <div class="col-6">
                <table class="table table-borderless align-middle p-2">
                        <thead>
                            <tr>
                            <th class="text-center">Route information</th>
                            </tr>
                        </thead>
                        <tr><td>Name:   <span class="fw-light">  {{route.name}}</span> </td></tr>
                        <tr><td>Source Address:<span class="fw-light">  {{route.source}}</td></tr>
                        <tr><td>Destination Address:   <span class="fw-light"> {{route.destination}} </td></tr>
                            {% if route.protocol %}
                        <tr><td>Protocol:    <span class="fw-light">  {{route.protocol}}</span> </td></tr>
                        {% endif %}
                        {% if route.sourceport %}
                        <tr><td>Source Port:   <span class="fw-light"> {{route.sourceport}}</span> </td></tr>
                        {% endif %}
                        {% if route.destinationport %}
                        <tr><td>Destination Port: <span class="fw-light">  {{route.destinationport}}</span> </td></tr>
                        {% endif %}
                    </table>  
        </div>
</div>

{% endblock %}