{% extends "base1.html" %}
{% load i18n %}
{% load static %}


{% block title %}{% trans "Verify your identity" %}{% endblock %}
{% block contentplaceholder  %}
<style>
    label{
        font-size: 20px;
    }
    /* .container{
        height: 100%;
    } */

</style>
<div class="container">
    <div></div>
    <div class="col l12 m12 s12 center">
        {% if status == "add" %}
        <h4 class="page-header">{% trans "Add a new rule" %}</h4>
        {% endif %}
        {% if status == "edit" %}
        <h4 class="page-header">{% trans "Edit a rule" %}</h4>
        {% endif %}
        {% if status == "delete" %}
        <h4 class="page-header">{% trans "Delete a rule" %}</h4>
        {% endif %}
    </div> 
    <div class="col-md-12">
        {% if status == "add" %}
        <div class="alert alert-info" role="alert">A message to your Slack private channel has been sent. {{ message }}.</div>
        {% endif %}
        {% if status == "edit" %}
        <div class="alert alert-warning" role="alert">A message to your Slack private channel has been sent. {{ message }}.</div>
        {% endif %}
        {% if status == "delete" %}
        <div class="alert alert-danger" role="alert">A message to your Slack private channel has been sent. {{ message }}.</div>
        {% endif %}
    </div>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary right" value="Submit">
        </form>
    </div>
</div>

{% endblock %}