{% extends "base.html" %}
{% load static %}
{% load i18n %}


{% block extrahead %}
    <style type="text/css">


	.dl-horizontal dt {
    width: 70px;
}
.dl-horizontal dd {
    margin-left: 90px;
}
</style>
{% endblock %}


{% block title %}{% trans "Almacenamiento" %}{% endblock %}
{% block contentplaceholder %}
<div class="container p-5">

    <div class="row">
        <div class="col">
        <h4 class="align-middle"> Almacenamiento </h4> 
    </div>
    </div>
    {% if message %}
    <div class="row">
    <div class="col">
        <div class="alert alert-primary" role="alert">
           {{message}}
          </div>
    </div>
</div>
{% endif %}
</div>
{% endblock %}