{% extends "base1.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}

{% block title %}
	{% if edit %}
		{% trans "Edit Rule" %} {{form.data.name}}
	{% else %}
		{% trans "Create new Rule" %}
	{% endif %}
{% endblock %}

{% block breadcrumbs %}
 <li class="active"><span class="divider">/</span>
	{% if edit %}
		{% trans "Edit rule" %} {{form.data.name}}
	{% else %}
	{% trans "Create rule" %}
	{% endif %}
</li>
{% endblock %}
{% block extrahead %}
    <link href="{% static 'css/plugins/morris/morris-0.4.3.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/timeline/timeline.css' %}" rel="stylesheet"><!-- 
    <link href="{% static 'datepicker/css/datepicker.css' %}" rel="stylesheet"> -->

{% endblock %}

{% block extraheadbottom %}
<style type="text/css">
label{
	font-size: 15px !important;
}
</style>
 <link href="{% static 'js/select2/select2.css' %}" rel="stylesheet">
 <link href="{% static 'js/select2/select2-bootstrap.css' %}" rel="stylesheet">
{% endblock %}

{% block pagejsbottom %}
<!-- <script type="text/javascript" src="{% static 'datepicker/js/bootstrap-datepicker.js' %}"></script> -->
<script type="text/javascript" src="{% static 'js/select2/select2.js' %}"></script>
<script>
	$(document).ready( function(){
		$('#id_then').removeAttr("multiple");
		/* {% if user.is_superuser %}
			$("#id_applier").select2();
		{% endif %} 
		 $("#id_protocol").select2();
		$("#id_then").select2(); */

		$('#id_expires').datepicker({
			startDate: '+1d',
			endDate: '+{{maxexpires|add:-1}}d',
			autoclose: true
		});
		$('#setFromAll').click(function(){
			$("#id_source").val('0.0.0.0/0');
		});
		$( "#id_expires" ).datepicker({ format: 'yyyy,mm,dd'});
});

</script>		
		{% comment %}
		<script>
	$(document).ready( function(){
		$('#then_diag').dialog({
			height: 220,
            width: 340,
			modal: true,
			autoOpen: false,
			buttons: {
		'{% trans "Add" %}': function() {
			$.ajax({
			url:"{% url 'add-rate-limit' %}",
			data:$("#add_rl_form").serialize(),
			type: "POST",
			cache: false,
			success:function(data){
					try {
						value = data.pk;
						text = data.value;
						$('#id_then').append($("<option></option>").attr("value",value).text(text));
						$('#then_diag').dialog('close');
					}
					catch (exception) {
						$('#then_diag').html(data);
					}
				}
				});
		},
		'{% trans "Cancel" %}': function() {
			$('#then_diag').dialog('close');
		}
	}
		});
	},
	</script>
		{% endcomment %}

		{% comment %}
		<script>
	$(document).ready( function(){
		$("#new_then_actions").button({
            icons: {
                primary: "ui-icon-plusthick"
            },
			})
			.click(function(){
				$.ajax({
					url: "{% url 'add-rate-limit' %}",
					cache: false,
					success: function(data){
						$("#then_diag").html(data);
					}
				});
				$('#then_diag').dialog('open');
				return false;
			});
		},
		</script>
			{% endcomment %}
			function reArrangeSelect(elementId) {
 			   $("#"+elementId).html($("#"+elementId+" option").sort(function(a, b) {
        			return parseInt(a.text) == parseInt(b.text) ? 0 : parseInt(a.text) < parseInt(b.text) ? -1 : 1
    			}));
			}
	});


</script>
{% endblock %}
{% block contentplaceholder %}
<div class="container">
            <div class="row">
                <div class="col l12 m12 s12 center">
               	    <h5>{% if edit %}{% trans "Edit rule" %}: {{routename}}
    						{% else %}{% trans "Apply for a new rule" %}{% endif %}</h5>
                </div>
                <!-- /.col-lg-12 -->
            </div>

<div class="row">
                <div class="col l2 m2 s2 right">
                	<i class="material-icons">security</i> Firewall Rule </div></div>
                        <!-- /.panel-heading -->
	<div class="row">
    	<form method="POST" name="form" role="form">

            {% csrf_token %}
            {% load unescape %}
            {% if form.non_field_errors %}
            <div class="form-group {% if form.non_field_errors %} has-error {% endif %}" style="color: #A94442;">
            	{{ form.non_field_errors|unescape}}
            	</div>
            {% endif %}
            <div class="section" {%  if edit %}  style="display:none;" {%  endif %}>
				
			{% if edit %}		
			<input type="hidden" name="name" value="routename" id="id_name">
			{% else %}
			<div class="row">
				<div class="col l12 m12 s12">
					<div class="col s12 m12 l12 {% if form.name.errors %} has-error {% endif %}">
					<label for="id_name" class="col l4 m4 s4 black-text"><b>{% trans "Name" %}</b></label>
					<div class="col l8 m8 s8">
						{% render_field form.name class+="validate" placeholder="Eg. ntpattack. A unique identifier will be added as a suffix" %}
						{% if form.name.errors %} <span class="help-block"> {{ form.name.errors|join:", " }} </span>
						{% endif %}
					</div>
					</div></div></div>
			{% endif %}
				</div>
            {% if user.is_superuser %}

				<div class="section">
				<div class="row">
                   <div class="col l12 m12 s12 {% if form.applier.errors %} has-error {% endif %}">
        			<label for="id_name" class="col l4 m4 s4 black-text"><b>{% trans "Applier" %}</b></label>
		        	<div class="col l8 m8 s8">
		            {% render_field form.applier class+="validate" %}
		            {% if form.applier.errors %} <span class="help-block"> {{ form.applier.errors|join:", " }} </span>
		            {% endif %}
		        </div>
		        </div></div> </div>

                {% else %}
                 <input type="hidden" id="id_applier" name="applier" value="{{applier}}"/>
                {% endif %} 
				<div class="divider"></div>
				<div class="section">
					<div class="row">
					<div class="col l12 m12 s12 {% if form.source.errors %} has-error {% endif %}">
						<label for="id_source" class="col l4 m4 s4 black-text"><b>{% trans "Source Address" %}</b></label>
						<div class="col l4 m4 s4">
						{% render_field form.source class+="validate" placeholder=form.source.help_text %}
						{% if form.source.errors %} <span class="help-block"> {{ form.source.errors|join:", " }} </span>
						{% endif %}
					</div>
					<div class="col l2 m2 s2">
						<img src="{% static 'secure_destination.png' %}" style="height: 30px;"/></div>

					<div class="row">
					<div class="col l12 m12 s12 {% if form.destination.errors %} has-error {% endif %}">
					<label for="id_destination" class="col l4 m4 s4 black-text"><b>{% trans "Destination Address" %}</b></label>
					<div class="col l4 m4 s4">
						{% render_field form.destination class+="validate" placeholder=form.destination.help_text %}
						{% if form.destination.errors %} <span class="help-block"> {{ form.destination.errors|join:", " }} </span>
						{% endif %}
					</div>
					</div>
					</div>
					
					<div class="row">
					<div class="col l12 m12 s12{% if form.protocol.errors %} has-error {% endif %}">
					<label for="id_protocol" class="col l4 m4 s4 black-text" style="font-weight: normal;">{% trans "Protocol(s)" %}</label>
					<div class="col l8 m8 s8">
						{% render_field form.protocol class+="validate" %}
						{% if form.protocol.errors %} <span class="help-block"> {{ form.protocol.errors|join:", " }} </span>
						{% endif %}
					</div>
					</div></div>	</div>
						<div class="divider"></div>
						<div class="section">
						<div class="row">
						<div class="col l12 m12 s12 {% if form.packetlength.errors %} has-error {% endif %}">
						<label for="id_packetlength" class="col l4 m4 s4 black-text "><b>{% trans "Packet Length" %}</b></label>
						<div class="col l6 m6 s6">
							{% render_field form.packetlength class+="validate"%}
							{% if form.packetlength.errors %} <span class="help-block"> {{ form.packetlength.errors|join:", " }} </span>
							{% endif %}
						</div>
						</div></div>
						
						<div class="row">
						<div class=" col l12 m12 s12 {% if form.tcpflag.errors %} has-error {% endif %}">
						<label for="id_tcpflag" class="col l4 m4 s4 black-text"><b>{% trans "TCP Flags" %}</b></label>
						<div class="col l6 m6 s6">
							{% render_field form.tcpflag class+="validate"%}
							{% if form.tcpflag.errors %} <span class="help-block"> {{ form.tcpflag.errors|join:", " }} </span>
							{% endif %}
						</div>
						</div></div></div>
					<!-- -->
					
					
					<!-- ICMP -->
					
						<div class="divider"></div>

						<div class="section">
						<div class="row">
						   <div class="col l12 m12 s12{% if form.icmpcode.errors %} has-error {% endif %}">
						<label for="id_icmpcode" class="col l4 m4 s4 black-text">{% trans "ICMP Code" %}</label>
						<div class="col l6 m6 s6">
							{% render_field form.icmpcode class+="validate"%}
							{% if form.icmpcode.errors %} <span class="help-block"> {{ form.icmpcode.errors|join:", " }} </span>
							{% endif %}
						</div>
						</div></div>
						
						<div class="row">
						<div class="col l12 m12 s12{% if form.icmptype.errors %} has-error {% endif %}">
						  <label for="id_icmptype" class="col l4 m4 s4 black-text">{% trans "ICMP Type" %}</label>
						<div class="col l6 m6 s6">
							{% render_field form.icmptype class+="validate" %}
							{% if form.icmptype.errors %} <span class="help-block"> {{ form.icmptype.errors|join:", " }} </span>
							{% endif %}
						</div>
						</div></div></div>

					<!-- End of ICMP -->

					
		        <!--  PORTS -->
		       <div class="divider"></div>
			   <div class="section">
		        <div class="row ">
		        	<label class="col l10 m10 s10 center black-text">{% trans "Select source/destination port(s) for both source/destination (Example: 80,100-120,443)" %}</label>
		        </div>
				<div class="row">
		        <div class="col l6 m6 s6{% if form.sourceport.errors %} has-error {% endif %} {% if form.destinationport.errors %} has-error {% endif %} {% if form.port.errors %} has-error {% endif %}">
        		<label for="id_sourceport" class="col l3 m3 s3 black-text ">{% trans "Src. Port(s)" %}</label>
		        <div class="col l3 m3 s3">
		            {% render_field form.sourceport class+="validate" %}
		            {% if form.sourceport.errors %} <span class="help-block"> {{ form.sourceport.errors|join:", " }} </span>
		            {% endif %}
		        </div>
				<label for="id_destinationport" class="col l3 m3 s3 black-text">{% trans "Dest. Port(s)" %}</label>
		        <div class="col l3 m3 s3">
		            {% render_field form.destinationport class+="validate" %}
		            {% if form.destinationport.errors %} <span class="help-block"> {{ form.destinationport.errors|join:", " }} </span>
		            {% endif %}
		        </div>
		        </div>
			</div></div>

		        <!--  END OF PORTS -->
				
	<div class="divider"></div>
		<div class="section">
			<div class="row">
				<div class="col l12 m12 s12 {% if form.then.errors %} has-error {% endif %}">
        		<label for="id_then" class="col l4 m4 s4 black-text">{% trans "Then Actions" %}</label>
		        <div class="col l6 m6 s6">
		            {% render_field form.then class+="validate" %}
		            {% if form.then.errors %} <span class="help-block"> {{ form.then.errors|join:", " }} </span>
		            {% endif %}
		        </div>
		    </div>
		</div>
	</div>
				
				<div class="divider"></div>
				<div class="section">
					<div class="row ">
						<label class="col l10 m10 s10 center black-text">{% trans "For a not expiring rule, leave the field empty" %}</label>
					</div>
				<div class="row">
                <div class="col l12 m12 s12 {% if form.expires.errors %} has-error {% endif %}">
                  <label for="id_expires" class="col l4 m4 s4 black-text">{% trans "Expires" %}</label>
		        <div class="col l8 m8 s8">
		            {% render_field form.expires class+="datepicker" %}
		            {% if form.expires.errors %} <span class="help-block"> {{ form.expires.errors|join:", " }} </span>
		            {% endif %}
		        </div>
		        </div>
			</div>
            </div>


            <div class="divider"></div>
			<div class="section">
				<div class="row">
        		<div class="col l12 m12 s12{% if form.comments.errors %} has-error {% endif %}">
        		<label for="id_comments" class="col l2 m2 s2 black-text">{% trans "Comments" %}</label>
		        <div class="col l8 m8 s8">
		            {% render_field form.comments class+="form-control" placeholder="Give a short description of the intended use of this rule, that justifies the parameter selection above. Feel free to include any additional comments." %}
		            {% if form.comments.errors %} <span class="help-block"> {{ form.comments.errors|join:", " }} </span>
		            {% endif %}
		        </div>
		        </div></div>
			</div>

			 <div class="row">
			 	 <div class="col l12 m12 12 center">
				<button type="submit" id="applybutton" value="{% trans 'Apply' %}" class="btn waves-effect waves-green">Apply</button>
				</div>
			</div>


    </form>
</div></div>
<!-- <div id="then_diag" title="Add new rate-limit value"></div> -->
<!-- <div id="port_diag" title="{% trans "Add new port" %}">
</div> -->

{% endblock %}