{% extends "base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}

{% block title %}
	{% if edit %}
		{% trans "Edit Rule" %} {{form.data.name}}
	{% else %}
		{% trans "Create new Rule" %}
	{% endif %}
{% endblock %}

{% block breadcrumbs %}
 <li class="active"><span class="divider">/</span>
	{% if edit %}
		{% trans "Edit rule" %} {{form.data.name}}
	{% else %}
	{% trans "Create rule" %}
	{% endif %}
</li>
{% endblock %}
{% block extrahead %}
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'datepicker/plugins/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'datepicker/plugins/css/bootstrap-datetimepicker.min.css' %}">
{% endblock %}

{% block contentplaceholder %}
<div class="container p-5">
            <div class="row">
                <div class="col">
                    <h3 class="font-monospace text-left"> {% if edit %}{% trans "Editar regla" %}: {{routename}} {% else %}{% trans "Configurar una nueva regla firewall" %}{% endif %}</h3>
                </div>
            </div>

    <div class="row">
        <div class="col">
			<div class="form-text">
				<p class="text-info"> Reglas de Firewall, aquellos campos marcados con (*) son obligatorios. <i class="fa fa-shield fa-fw text-info"></i> </p>
			</div>
        </div>
    </div>
    
    <div class="row">
        <form method="POST" id="myForm" onsubmit="avoidMultipleSubmitting();" class="form-horizontal">
            {% csrf_token %}
            {% load unescape %}
            {% if form.non_field_errors %}
            <div class="form-control mb-5 {% if form.non_field_errors %} has-error {% endif %} form-text text-danger" style="border:None;">
            	<p>{{ form.non_field_errors|unescape}}</p>
            	</div>
            {% endif %}
            <fieldset {%  if edit %}  style="display:none;" {%  endif %}>
				
			{% if edit %}		
			<!-- <input type="hidden" name="name" value="{{routename}}" id="id_name"> -->
			<div class="row p-1 mt-3">
				<div class="form-text {% if form.name.errors %} has-error {% endif %}"></div>
				<label for="id_name" class="col col-2 form-label"><b>{% trans "Nombre (*): " %}</b></label>
				<div class="col col-8">
				{% render_field form.name value+="{{routename}}" class+="form-control" placeholder="Ej. ntpattack. Un identificador indicando la organización a la que pertenece el usuario será añadido." %}
				{% if form.name.errors %} <span class="help-block"> {{ form.name.errors|join:", " }} </span>
				{% endif %}
				</div>
				<div class="form-text">
					<p class="font-italic">Utilizar palabras claves que definan la regla. Pueden ir separadas por guiones o punto. No introducir palabras con caracteres especiales, espacios en blanco o guión bajo (_) en el nombre. 
					 Ejemplo de nombre: Deny-FTP-smcsoftwareimdea </p>
				</div>
			</div>
			{% else %}
                    <div class="row p-1 mt-3">
					    <div class="form-text {% if form.name.errors %} has-error {% endif %}"></div>
                        <label for="id_name" class="col col-2 form-label"><b>{% trans "Nombre (*): " %}</b></label>
                        <div class="col col-8">
                        {% render_field form.name class+="form-control" placeholder="Ej. ntpattack. Un identificador indicando la organización a la que pertenece el usuario será añadido." %}
                        {% if form.name.errors %} <span class="help-block"> {{ form.name.errors|join:", " }} </span>
                        {% endif %}
                        </div>
						<div class="form-text">
							<p class="font-italic">Utilizar palabras claves que definan la regla. Pueden ir separadas por guiones o punto. No introducir palabras con caracteres especiales, espacios en blanco o guión bajo (_) en el nombre. 
							Ejemplo de nombre: Deny-FTP-smcsoftwareimdea </p>
						</div>
					</div>
					
			{% endif %}
            </fieldset>
			<hr>
			<fieldset>
            {% if user.is_superuser %}
                <div class="row p-1 mt-2">
                        <div class="form-text {% if form.applier.errors %} has-error {% endif %}"></div>
                		<label for="id_applier" class="col col-2 control-label"><b>{% trans "Creada por:" %}</b></label>
                        <div class="col col-8">
                            {% render_field form.applier class+="form-select form-select-md" %}
                            {% if form.applier.errors %} <span class="help-block"> {{ form.applier.errors|join:", " }} </span>
                            {% endif %}
                        </div>
                </div>
                {% else %}
                 <input type="hidden" id="id_peer" name="applier" value="{{applier}}"/>
                {% endif %}
				{% if user.is_superuser %}
                <div class="row p-1">
                        <div class="form-text {% if form.peer.errors %} has-error {% endif %}"></div>
                		<label for="id_peer" class="col col-2 control-label"><b>{% trans "Institutición:" %}</b></label>
                        <div class="col col-8">
                            {% render_field form.peer class+="form-select form-select-md" %}
                            {% if form.peer.errors %} <span class="help-block"> {{ form.peer.errors|join:", " }} </span>
                            {% endif %}
                        </div>
                </div>
                {% endif %}
			</fieldset>


<fieldset>
                    <div class="row p-1 mt-3">
						
					<div class="form-text {% if form.source.errors %} has-error {% endif %}"></div>
					<label for="id_source" class="col form-label"><b>{% trans "Dirección de origen (*): " %}</b></label>
					<div class="col col-6">
						{% render_field form.source class+="form-control form-control-md" placeholder=form.source.help_text %}
						{% if form.source.errors %} <span class="help-block"> {{ form.source.errors|join:", " }} </span>
						{% endif %}</div>
					<div class="col col-3"><img src="{% static 'threat_source.png' %}" style="height: 30px;"/></div>					
					<div class="form-text">
						<p class="font-italic">
							Para aplicar una regla desde cualquier origen poner 0.0.0.0/0. Si no especifica la máscara de red se añadirá una /32.
						</p> 
					</div>
				</div>

					<!--  -->
					<div class="row p-1 mt-2">
						<div class="form-text {% if form.destination.errors %} has-error {% endif %}"></div>
						<label for="id_destination" class="col form-label"><b>{% trans "Dirección de destino (*):" %}</b></label>
						<div class="col col-6">
							{% render_field form.destination class+="form-control" placeholder=form.destination.help_text %}
							{% if form.destination.errors %} <span class="help-block"> {{ form.destination.errors|join:", " }} </span>
							{% endif %}
						</div>
						<div class="col col-3">
							<img src="{% static 'secure_destination.png' %}" style="height: 30px;"/>
						</div>
						</div>
					</fieldset>
			
<hr>

                <div class="row p-1 mt-2">
					<div class="form-text {% if form.protocol.errors %} has-error {% endif %}">
					<label for="id_protocol" class="col col-2 form-label"><b>Protocolo (*)</b></label>
					<div class="col">
                            {% render_field form.protocol class+="form-select multiple" %}
                          		{% if form.protocol.errors %} <span class="help-block"> {{ form.protocol.errors|join:", " }} </span>
                          	{% endif %}
					</div>
					</div>	
				<div class="form-text">
					<p class="font-italic">Para seleccionar más de un protocolo utilizar Ctrl o Command</p>
				</div>
			</div>	
				
                <div class="row p-1 mt-2">        
						<div class="form-text {% if form.packetlength.errors %} has-error {% endif %}"></div>
						<label for="id_packetlength" class="col col-2 form-label"><b>{% trans "Packet Length: " %}</b></label>
						<div class="col col-6">
							{% render_field form.packetlength class+="form-control" placeholder="" %}
							{% if form.packetlength.errors %} <span class="help-block"> {{ form.packetlength.errors|join:", " }} </span>
							{% endif %}
						</div>
				</div>
				
                <div class="row p-1">
					<div class="form-text {% if form.tcpflag.errors %} has-error {% endif %}"></div>
					<label for="id_tcpflag" class="col-md-2 control-label"><b>{% trans "TCP Flags: " %}</b></label>
					<div class="col col-6">
						{% render_field form.tcpflag class+="form-control"  %}
						{% if form.tcpflag.errors %} <span class="help-block"> {{ form.tcpflag.errors|join:", " }} </span>
						{% endif %}
					</div>
					<div class="form-text">
						<p class="font-italic">Para seleccionar más de un protocolo utilizar Ctrl o Command</p>
					</div>

				</div>
				
					<!-- ICMP -->
					<hr>	
<fieldset>				<div class="row p-4 g-3 form-group align-items-center">		

						   <div class="form-text {% if form.icmpcode.errors %} has-error {% endif %}"></div>
						<label for="id_icmpcode" class="col col-2 form-label"><b>{% trans "ICMP Code: " %}</b></label>
						<div class="col-auto">
							{% render_field form.icmpcode class+="form-control" %}
							{% if form.icmpcode.errors %} <span class="help-block"> {{ form.icmpcode.errors|join:", " }} </span>
							{% endif %}
						</div>


						<div class="form-group {% if form.icmptype.errors %} has-error {% endif %}"></div>
						<label for="id_icmptype" class="col col-2 form-label"><b>{% trans "ICMP Type: " %}</b></label>
						<div class="col-auto">
							{% render_field form.icmptype class+="form-control" %}
							{% if form.icmptype.errors %} <span class="help-block"> {{ form.icmptype.errors|join:", " }} </span>
							{% endif %}

						</div>
					</div>

					<!-- End of ICMP -->
		</fieldset>
					
		        <!--  PORTS -->
                
				<hr>
			<div class="row p-1  form-row align-items-center">
				<fieldset>
					<label class="col-md-10" style="font-weight: normal;"><small>{% trans "Selecciona los puertos de origen/destino o selecciona un puerto en común para ambos. (Ejemplo: 80,100-120,443)" %}</small></label>
					<div class="form-group {% if form.sourceport.errors %} has-error {% endif %} {% if form.destinationport.errors %} has-error {% endif %} {% if form.port.errors %} has-error {% endif %}"></div>
					<div class="form-group form-row align-items-center ">					
					<div class="col-sm-3 my-1">
						<label for="id_sourceport" class="col  control-label" style="font-weight: normal;">{% trans "Src. Port(s)" %}</label>
						{% render_field form.sourceport class+="form-control"  %}
						{% if form.sourceport.errors %} <span class="help-block" id="sourceport_error_id"> {{ form.sourceport.errors|join:", " }} </span>
						{% endif %}
					</div>
					
					<div class="col-sm-3 ml-3">
						<label for="id_destinationport" class="col control-label" style="font-weight: normal;">{% trans "Dest. Port(s)" %}</label>
						{% render_field form.destinationport class+="form-control"  %}
						{% if form.destinationport.errors %} <span class="help-block" id="destinationport_error_id"> {{ form.destinationport.errors|join:", " }} </span>
						{% endif %}
					</div>
					
					<div class="col-sm-3 ml-3">
						<label for="id_port" class="col control-label" style="font-weight: normal;">{% trans "Port(s)" %}</label>
						{% render_field form.port class+="form-control"  %}
						{% if form.port.errors %} <span class="help-block" id="port_error_id"> {{ form.port.errors|join:", " }} </span>
						{% endif %}
					</div>
					</div>
				</div>	
				</fieldset>
			</div>
			

				<hr>
		        <!--  END OF PORTS -->
				<fieldset>
                <div class="row pt-3">
               	<div class="form-text {% if form.then.errors %} has-error {% endif %}"></div>
				<div class="form-group">
        		<label for="id_then" class="col col-2 form-label"><b>{% trans "Acción (*): " %}</b></label>
		        <div class="col col-8">
		            {% render_field form.then class+="form-select form-select-md" %}
		            {% if form.then.errors %} <span class="help-block"> {{ form.then.errors|join:", " }} </span>
		            {% endif %}
		        </div>
				</div>
		        </div>
				
			
			<div class="row pt-3">		
                <div class="form-text {% if form.expires.errors %} has-error {% endif %}"></div>
				<div class="form-group">
					<label for="id_expires" class="col col-2 form-label"><b>{% trans "Caduca (*): " %}</b></label>
					<div class="col col-8 date" id="id_expire">
						{% render_field form.expires class+="form-control js-timepicker"  placeholder="Fecha" %}
						{% if form.expires.errors %} <span class="help-block"> {{ form.expires.errors|join:", " }} </span>
						{% endif %}
		        </div>
				</div>
				<div class="row p-1">
					<div class="form-text">
						<label class="form-check-label" for="noexpires">
							Indica si no quieres que caduque la siguiente regla: 						
					</label>	  
					<input class="form-check-input ml-4" type="checkbox" value="" id="noexpires" onclick="disableDate();">
					</div>
		        </div>
			</div>
		</fieldset>

			
            <div class="row p-1">
                <div class="form-text {% if form.comments.errors %} has-error {% endif %}"></div>
        		<label for="id_comments" class="col col-2 form-label"><b>{% trans "Comentarios adiccionales: " %}</b></label>
		        <div class="col col-8">
		            {% render_field form.comments class+="form-control" placeholder="Corta descripción del uso de esta regla que justifique los parametros seleccionados. También se puede incluir comentarios addcionales. " %}
		            {% if form.comments.errors %} <span class="help-block"> {{ form.comments.errors|join:", " }} </span>
		            {% endif %}
		        </div>
		        </div>


            </fieldset>
			 <div class="row p-2">
			 	<div class="col col-2"></div>
			 	 <div class="col col-8">
			        <button type="submit" id="applybutton" value="{% trans 'Enviar' %}" class="btn btn-md btn-info align-center">Enviar</button>
				</div>
			</div>


    </form>
</div>

</div>

{% endblock %}





{% block pagejsbottom %}
    <script src="{%  static 'datepicker/plugins/js/popper.js' %}"></script>
    <script src="{%  static 'datepicker/plugins/js/moment-with-locales.min.js' %}"></script>
    <script src="{%  static 'datepicker/plugins/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{%  static 'datepicker/plugins/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'datepicker/plugins/js/bootstrap-datetimepicker.min.js'%}"></script>
    <script src="{% static 'datepicker/plugins/js/main.js' %}"></script>
<script>
	function sameOrigin(url) {
    // test that a given url is a same-origin URL
    // url could be relative or scheme relative or absolute
    var host = document.location.host; // host + port
    var protocol = document.location.protocol;
    var sr_origin = '//' + host;
    var origin = protocol + sr_origin;
    // Allow absolute or scheme relative URLs to same origin
    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
        // or any other URL that isn't scheme relative or absolute i.e relative.
        !(/^(\/\/|http:|https:).*/.test(url));
};

// usando jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
};
	function csrfSafeMethod(method) {
        // estos métodos no requieren CSRF
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    };


	$(document).ready( function(){
		$('#id_sourceport').removeAttr('required');
		$('#id_destinationport').removeAttr('required');
		$('#id_then').removeAttr("multiple");
		const selectElement = document.getElementById('id_destination');
		var url = "{% url 'ajax-networks' %}"
		var csrftoken = getCookie('csrftoken');
		$.ajaxSetup({
		beforeSend: function(xhr, settings) {
			if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
			xhr.setRequestHeader("X-CSRFToken", csrftoken);
		}
		}
		});
		$.ajax({
		url : url,
		type : "GET",
		dataType:"json",
		success: function(response){         
			var data = response['networks'];
			for(var i = 0; i < data.length; i++){
				var opt = document.createElement('option');
				opt.value=data[i];
				opt.innerHTML=data[i];
				selectElement.appendChild(opt);
			}
			
			},
        error: function(){
          console.log('error');
            }
          });

		
	});  
function checkRouteName(){
	routename = document.forms["myForm"]["id_name"].value;
	regex = new RegExp('/^/\s/');
}

function avoidMultipleSubmitting(){
	document.getElementById('applybutton').disabled=true; 
	document.getElementById('applybutton').innerHTML='Porfavor espere...';
}
function disableDate(){
	input = document.getElementById('id_expires');
	input1 = document.getElementById('initial-expires');
	if (input.disabled==false){
		$('#id_expires').attr('disabled', true);
		$('#id_expires').removeAttr('value');
		input.value =null;
		input1.value = null;
		$('#initial-expires').removeAttr('value');
	}else{
		$('#id_expires').removeAttr('disabled');
	}
	/* document.getElementById('id_expires').value=null; */
}
</script>
{% endblock %}