{% extends "base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}

{% block title %}
	{% if edit %}
		{% trans "Edit Rule" %} {{form.data.name}}
	{% else %}
		{% trans "Create new Rule" %}
	{% endif %}
{% endblock %}

{% block breadcrumbs %}
 <li class="active"><span class="divider">/</span>
	{% if edit %}
		{% trans "Edit rule" %} {{form.data.name}}
	{% else %}
	{% trans "Create rule" %}
	{% endif %}
</li>
{% endblock %}
{% block extrahead %}
	<!-- <link href="{% static 'css/plugins/morris/morris-0.4.3.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/timeline/timeline.css' %}" rel="stylesheet"> -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'datepicker/plugins/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'datepicker/plugins/css/bootstrap-datetimepicker.min.css' %}">
{% endblock %}

{% block pagejsbottom %}
    <script src="{%  static 'datepicker/plugins/js/popper.js' %}"></script>
    <script src="{%  static 'datepicker/plugins/js/moment-with-locales.min.js' %}"></script>
    <script src="{%  static 'datepicker/plugins/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{%  static 'datepicker/plugins/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'datepicker/plugins/js/bootstrap-datetimepicker.min.js'%}"></script>
    <script src="{% static 'datepicker/plugins/js/main.js' %}"></script>
<script>
	$(document).ready( function(){
		$('#id_sourceport').removeAttr('required');
		$('#id_destinationport').removeAttr('required');
		$('#id_then').removeAttr("multiple");
		$('#setFromAll').click(function(){
			$("#id_source").val('0.0.0.0/0');
		});
		{% comment %}
		$('#then_diag').dialog({
			height: 220,
            width: 340,
			modal: true,
			autoOpen: false,
			buttons: {
		'{% trans "Add" %}': function() {
			$.ajax({
			url:"{% url 'add-rate-limit' %}",
			data:$("#add_rl_form").serialize(),
			type: "POST",
			cache: false,
			success:function(data){
					try {
						value = data.pk;
						text = data.value;
						$('#id_then').append($("<option></option>").attr("value",value).text(text));
						$('#then_diag').dialog('close');
					}
					catch (exception) {
						$('#then_diag').html(data);
					}
				}
				});
		},
		'{% trans "Cancel" %}': function() {
			$('#then_diag').dialog('close');
		}
	}
		});
		{% endcomment %}

		{% comment %}
		$("#new_then_actions").button({
            icons: {
                primary: "ui-icon-plusthick"
            },
			})
			.click(function(){
				$.ajax({
					url: "{% url 'add-rate-limit' %}",
					cache: false,
					success: function(data){
						$("#then_diag").html(data);
					}
				});
				$('#then_diag').dialog('open');
				return false;
			});

			{% endcomment %}

			function reArrangeSelect(elementId) {
 			   $("#"+elementId).html($("#"+elementId+" option").sort(function(a, b) {
        			return parseInt(a.text) == parseInt(b.text) ? 0 : parseInt(a.text) < parseInt(b.text) ? -1 : 1
    			}));
			}
	}); 
function avoidMultipleSubmitting(){
	document.getElementById('applybutton').disabled=true; 
	document.getElementById('applybutton').value='Submitting, please wait...';
}

</script>
{% endblock %}
{% block contentplaceholder %}
<div class="container p-5">
            <div class="row">
                <div class="col">
                    <h3 class="font-monospace text-left"> {% if edit %}{% trans "Editar regla" %}: {{routename}} {% else %}{% trans "Configurar una nueva regla firewall" %}{% endif %}</h3>
                </div>
            </div>

    <div class="row">
        <div class="col">
			<div class="form-text">
				<p class="text-info"> Reglas de Firewall, aquellos campos marcados con (*) son obligatorios. <i class="fa fa-shield fa-fw text-info"></i> </p>
			</div>
        </div>
    </div>
    
    <div class="row">
        <form method="POST" id="myForm" onsubmit="avoidMultipleSubmitting();">
            {% csrf_token %}
            {% load unescape %}
            {% if form.non_field_errors %}
            <div class="form-control {% if form.non_field_errors %} has-error {% endif %}" style="color: #A94442;">
            	{{ form.non_field_errors|unescape}}
            	</div>
            {% endif %}
            <fieldset {%  if edit %}  style="display:none;" {%  endif %}>
				
			{% if edit %}		
			<input type="hidden" name="name" value="routename" id="id_name">
			{% else %}
                    <div class="row p-1 mt-3">
					    <div class="form-text {% if form.name.errors %} has-error {% endif %}"></div>
                        <label for="id_name" class="col col-2 form-label"><b>{% trans "Nombre (*): " %}</b></label>
                        <div class="col col-8">
                        {% render_field form.name class+="form-control" placeholder="Ej. ntpattack. Un identificador indicando la organización a la que pertenece el usuario será añadido." %}
                        {% if form.name.errors %} <span class="help-block"> {{ form.name.errors|join:", " }} </span>
                        {% endif %}
                        </div>
						
					</div>
					<div class="form-text">
						<p class="font-italic">No introducir un guión bajo (_) en el nombre.</p>
					</div>
			{% endif %}
            </fieldset>
            {% if user.is_superuser %}
                <div class="row p-1 mt-2">
                        <div class="form-text {% if form.applier.errors %} has-error {% endif %}"></div>
                		<label for="id_applier" class="col col-2 control-label"><b>{% trans "Creada por:" %}</b></label>
                        <div class="col col-8">
                            {% render_field form.applier class+="form-select form-select-md" %}
                            {% if form.applier.errors %} <span class="help-block"> {{ form.applier.errors|join:", " }} </span>
                            {% endif %}
                        </div>
                </div>
                {% else %}
                 <input type="hidden" id="id_peer" name="applier" value="{{applier}}"/>
                {% endif %}
				{% if user.is_superuser %}
                <div class="row p-1">
                        <div class="form-text {% if form.peer.errors %} has-error {% endif %}"></div>
                		<label for="id_peer" class="col col-2 control-label"><b>{% trans "Institutición:" %}</b></label>
                        <div class="col col-8">
                            {% render_field form.peer class+="form-select form-select-md" %}
                            {% if form.peer.errors %} <span class="help-block"> {{ form.peer.errors|join:", " }} </span>
                            {% endif %}
                        </div>
                </div>
                {% endif %}
					
					<!-- <div class="row p-1 mt-2">
						
					</div> -->

                    <div class="row p-1 mt-3">
						
					<div class="form-text {% if form.source.errors %} has-error {% endif %}"></div>
					<label for="id_source" class="col form-label"><b>{% trans "Dirección de origen: " %}</b></label>
					<div class="col col-6">
						{% render_field form.source class+="form-control form-control-md" placeholder=form.source.help_text %}
						{% if form.source.errors %} <span class="help-block"> {{ form.source.errors|join:", " }} </span>
						{% endif %}</div>
					<div class="col col-3"><img src="{% static 'threat_source.png' %}" style="height: 30px;"/></div>					
					</div>
					<div class="form-text">
						<p class="font-italic">Para aplicar una regla con un origen '0.0.0.0/0' dejar el campo vacio o introducir '0.0.0.0'</p> 
					</div>
                    
                    <div class="row p-1 mt-2">
					<div class="form-text {% if form.destination.errors %} has-error {% endif %}"></div>
					<label for="id_destination" class="col form-label"><b>{% trans "Dirección de destinado (*):" %}</b></label>
					<div class="col col-6">
						{% render_field form.destination class+="form-control" placeholder=form.destination.help_text %}
						{% if form.destination.errors %} <span class="help-block"> {{ form.destination.errors|join:", " }} </span>
						{% endif %}
					</div>
					<div class="col col-3">
						<img src="{% static 'secure_destination.png' %}" style="height: 30px;"/>
					</div>
					</div>
					
                    
                    <div class="row p-1 mt-2">
					<div class="form-text {% if form.protocol.errors %} has-error {% endif %}">
					<label for="id_protocol" class="col col-2 form-label"><b>{% trans "Protocolo(s)" %}</b></label>
					<div class="col">
                            {% render_field form.protocol class+="form-select multiple" %}
                          		{% if form.protocol.errors %} <span class="help-block"> {{ form.protocol.errors|join:", " }} </span>
                          	{% endif %}
					</div>
					</div>	
                </div>
				<div class="form-text">
					<p class="font-italic">Para seleccionar más de un protocolo utilizar Ctrl.</p>
				</div>
				
                <div class="row p-1 mt-2">        
						<div class="form-text {% if form.packetlength.errors %} has-error {% endif %}"></div>
						<label for="id_packetlength" class="col col-2 form-label"><b>{% trans "Packet Length: " %}</b></label>
						<div class="col col-6">
							{% render_field form.packetlength class+="form-control" placeholder="" %}
							{% if form.packetlength.errors %} <span class="help-block"> {{ form.packetlength.errors|join:", " }} </span>
							{% endif %}
						</div>
				</div>
				
                <div class="row p-1">
						<div class="form-text {% if form.tcpflag.errors %} has-error {% endif %}"></div>
						<label for="id_tcpflag" class="col-md-2 control-label"><b>{% trans "TCP Flags: " %}</b></label>
						<div class="col col-6">
							{% render_field form.tcpflag class+="form-control"  %}
							{% if form.tcpflag.errors %} <span class="help-block"> {{ form.tcpflag.errors|join:", " }} </span>
							{% endif %}
						</div>
				</div>
					
					<!-- ICMP -->
						
                        <div class="row p-1">
						   <div class="form-text {% if form.icmpcode.errors %} has-error {% endif %}"></div>
						<label for="id_icmpcode" class="col col-2 form-label"><b>{% trans "ICMP Code: " %}</b></label>
						<div class="col col-4">
							{% render_field form.icmpcode class+="form-control" %}
							{% if form.icmpcode.errors %} <span class="help-block"> {{ form.icmpcode.errors|join:", " }} </span>
							{% endif %}
						</div>
                        </div>

                        <div class="row p-1">
						<div class="form-group {% if form.icmptype.errors %} has-error {% endif %}"></div>
						<label for="id_icmptype" class="col col-2 form-label"><b>{% trans "ICMP Type: " %}</b></label>
						<div class="col col-4">
							{% render_field form.icmptype class+="form-control" %}
							{% if form.icmptype.errors %} <span class="help-block"> {{ form.icmptype.errors|join:", " }} </span>
							{% endif %}
						</div>
						</div>

					<!-- End of ICMP -->

					
		        <!--  PORTS -->
                
		        <div class="form-text ">
		        	<label class="col col-10 font-italic">{% trans "Selecciona los puertos de origen/destino para las direcciones de origen/destino. Ejemplo: 80,100-120,443. No debes indicar los puertos si el protocolo es ICMP." %}</label>
		        </div>
                <div class="row p-1">
		        <div class="form-text {% if form.sourceport.errors %} has-error {% endif %} {% if form.destinationport.errors %} has-error {% endif %} {% if form.port.errors %} has-error {% endif %}"></div>
        		<label for="id_sourceport" class="col col-2 form-label"><b>{% trans "Puerto(s) de origen: " %}</b></label>
		        <div class="col col-4">
		            {% render_field form.sourceport class+="form-control" %}
		            {% if form.sourceport.errors %} <span class="help-block"> {{ form.sourceport.errors|join:", " }} </span>
		            {% endif %}
		        </div>
                </div>
                <div class="row p-1">
                    <label for="id_destinationport" class="col col-2 form-label"><b>{% trans "Puerto(s) de destino: " %}</b></label>
		        <div class="col col-4">
		            {% render_field form.destinationport class+="form-control"  %}
		            {% if form.destinationport.errors %} <span class="help-block"> {{ form.destinationport.errors|join:", " }} </span>
		            {% endif %}
		        </div>
                </div>

		        <!--  END OF PORTS -->
				
                <div class="row">
               	<div class="form-text {% if form.then.errors %} has-error {% endif %}"></div>
        		<label for="id_then" class="col col-2 form-label"><b>{% trans "Acción: " %}</b></label>
		        <div class="col col-8">
		            {% render_field form.then class+="form-select form-select-md" %}
		            {% if form.then.errors %} <span class="help-block"> {{ form.then.errors|join:", " }} </span>
		            {% endif %}
		        </div>
		        </div>
                
				

				
                <div class="row">
                <div class="form-text {% if form.expires.errors %} has-error {% endif %}"></div>
				<div class="form-group">
                  <label for="id_expires" class="col col-2 form-label"><b>{% trans "Caduca (*): " %}</b></label>
		        <div class="col col-8 date" id="id_expire">
		            {% render_field form.expires class+="form-control js-datetimepicker"  placeholder="Fecha" %}
		            {% if form.expires.errors %} <span class="help-block"> {{ form.expires.errors|join:", " }} </span>
		            {% endif %}
		        </div>
				</div>
		        </div>
				<div class="form-text">
					<p class="font-italic">Si no quieres que una regla caduque dejar el campo vacío, la duración debe ser mínimo de 1 día. </p>
				</div>


			
            <div class="row p-1">
                <div class="form-text {% if form.comments.errors %} has-error {% endif %}"></div>
        		<label for="id_comments" class="col col-2 form-label"><b>{% trans "Comentarios adiccionales: " %}</b></label>
		        <div class="col col-8">
		            {% render_field form.comments class+="form-control" placeholder="Corta descripción del uso de esta regla que justifique los parametros seleccionados. También se puede incluir comentarios addcionales. " %}
		            {% if form.comments.errors %} <span class="help-block"> {{ form.comments.errors|join:", " }} </span>
		            {% endif %}
		        </div>
		        </div>


            </fieldset>
			 <div class="row p-2">
			 	<div class="col col-2"></div>
			 	 <div class="col col-8">
			        <button type="submit" id="applybutton" value="{% trans 'Enviar' %}" class="btn btn-md btn-info align-center">Enviar</button>
				</div>
			</div>


    </form>
</div>

</div>

{% endblock %}