{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load i18n %}


{% block extrahead %}
	<!-- <link href="{% static 'b3theme/css/plugins/morris/morris-0.4.3.min.css' %}" rel="stylesheet">
    <link href="{% static 'b3theme/css/plugins/timeline/timeline.css' %}" rel="stylesheet"> -->
    <style type="text/css">


	.dl-horizontal dt {
    width: 70px;
}
.dl-horizontal dd {
    margin-left: 90px;
}
</style>
{% endblock %}


{% block title %}{% trans "Synced Routes" %}{% endblock %}
{% block contentplaceholder %}
<div class="container p-5 m-2">
    <div class="row">
        <div class="col">
        <h4 class="fw-light"> Elige un archivo desde el cual restaurar tu base de datos.</h4>
    </div>
    </div>
    <div class="row">
        <form action="{% url 'restore' %}" class="row g-3 align-items-center" method='POST'>
        {% csrf_token %}
        {% load unescape %}
        <table class="table table-striped">
            <tr><th>Copia de seguridad                    </th></tr>
            {% for file in files %}
            <tr><td>    <div class="col col-2 float-start">
                <div class=" {% if form.applier.errors %} has-error {% endif %}"></div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="value" value="{{file}}" name="value">
                    <label for="value" class="form-check-label">
                        {{file}}
                    </label>
                </div>
                </label>
              </div>   </td></tr>
            {% endfor %}
        </table>
    </div>
        <div class="row">
            <div class="col float-start">
                <button type="submit" id="applybutton" value="{% trans 'Apply' %}" class="btn btn-outline btn-warning">Apply</button>
            </div>
</form>
        <div class="col col-3 float-end">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title text-warning">Cuidado!</h5>
                  <p class="card-text">Si no has hecho una copia de la base de datos actual puede que pierdas información!</p>
                </div>
              </div>
        </div>
                 
</div>
</div>
{% endblock %}