{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Dashboard" %}{% endblock %}
{% block contentplaceholder %}
<div class="row">
    <div class="col-sm-12 col-lg-6">
        <h2>Charts</h2>
        <p>  {{ last_value }} {{ creationdt|date:"Y m d H M S" }}  </p>
        <canvas id="myChart" width="150px" height="150px"></canvas>
    </div>
</div>

{% endblock %}
{% block pagejsbottom %}

<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
<script>
    
    var endpoint = 'api/data'
    $.ajax({
        method:"GET",
        url:endpoint,
        success: function(data){
            console.log(data)
        },
        error: function(error_data){
            console.log("error")
            console.log(error_data)
        }
    })
    var ctx=document.getElementById("myChart").getContext('2d');
    var data={{ last_value }};
    var myChart = new Chart(ctx,{
        type:'line',
        data:{
            labels:["Red","Blue","Yellow","Green","Purple","Orange"],
            datasets:[{
                label:'Test kbps',
                data:data,
            }]
        },
            options:{
                scales: {
                    xAxes:[{
                        type:'time',

                    }],
                    yAxes:[{
                        ticks:{
                            beginAtZero:true
                        }
                    }]
                }
            }
    });
    
    </script>

{% endblock %}