{% extends "base.html" %}
{% load static %}
{% load i18n %}


{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/dashboard_style.css' %}">
<link rel="stylesheet" href="{% static 'css/section_style.css' %}">
{% endblock %}
{% block title %}{% trans "Dashboard" %}{% endblock %}
{% block contentplaceholder %}
{% csrf_token %}

        <div class="container">
			<section id="projects">
				<div class="container">
				  <!-- INFO -->
				  <section id="hero">
					<div class="container">
					  <div class="row mb-5">
						<div class="col">
						  <h1 class="font-monospace">REM-e-DDOS</h1>
						  <p>Here you can see the routes that you have been configured to protect for your insitution. <br> 
							For more information about the routes that have been created for the REM-Golem attacks or the events themselves please follow one of the next links:</p>
						  <div class="col-md-3  align-items-center" style="display:inline-block;">
						  <a href="{% url 'pending-routes' %}" type="button" class="btn btn-dark btn-sm float-left">Proposed Routes</a>
						  <a href="{% url 'attack-list' %}" type="button" class="btn btn-dark btn-sm float-right">REM-GOLEM</a>
						</div>
						</div>
					  </div>
					  <div class="row cards">
						<div class="col-md-4 d-flex justify-content-center">
						  <div class="card" style="width: 18rem; border:None;">
							<div class="card-body">
								<p class="card-text"> Status: <span class="badge bg-success">ACTIVE</span><br>
							 When a route is active it means that it has been saved on your database and configured in your router.</p>
							</div>
						  </div>
						</div>
				  
						<div class="col-md-4 d-flex justify-content-center">
						  <div class="card" style="width: 18rem;border:None;">
							<div class="card-body">
								<p class="card-text"> Status: <span class="badge bg-info">PENDING</span><br>
							 A route will be pending when it was automatically created for a REM-GOLEM event. If you commit the route it will become ACTIVE.</p>
							</div>
						  </div>
						</div>
						
						<div class="col-md-4 d-flex justify-content-center">
							<div class="card" style="width: 18rem;border:None;">
							  <div class="card-body">
								  <p class="card-text"> Status: <span class="badge bg-danger">ERROR</span><br>
							   When a route status is error it means that there was an error when trying to configure the route into the router, please talk to your adminsitrator if this is the case.</p>
							  </div>
							</div>
						  </div>

					  </div>
					</div>
				  </section>
				  <!--ENDINFO -->
				<section id="projects">
				  <div class="row align-items-left">
					<div class="col-sm-6">
				  {% for route in routes %}
						{% if route.status == 'ACTIVE' %}
						<div class="card mb-3">
						<div class="card-body">
							<h5 class="card-title text-success">{{route.name}}</h5>
						  	<p class="card-text"> Status: <span class="badge bg-success">{{route.status}}</span>
								{% if route.expires != None %}
								<span class="text-muted"> Expires: {{route.expires}}</span></p>
							{% endif %}
						  	<p class="card-text"><small class="text-muted">Last updated: {{route.last_updated}} by {{route.applier_username_nice}}. 
								{% if route.expires != None %}  
								Days to expire: {{route.days_to_expire}} 
							   {% endif %}
							  </small></p>
							<table class="table table-hover">
								{{ route.get_table|safe|escape }}
							</table>
							{% if not request.COOKIES.token %}
							<a href="{% url 'edit-route' route.name %}" class="btn btn-info btn-sm btn-warning" id="edit_button_{{route.pk}}">Edit route</a>
							{% else %}
							<a href="{% url 'edit' route.name%}"class="btn btn-info btn-sm btn-warning" id="edit_button_{{route.pk}}">Edit route</a>
							{% endif %}
							<a href="{% url 'display-graphs' route.name %}" class="btn btn-sm btn-info" id="display_button_{{route.pk}}">More information</a>

						</div>
					</div>
						{% elif route.status == 'ERROR' %}
						<div class="card mb-3">
						<div class="card-body">
							<h5 class="card-title text-danger">{{route.name}}</h5>
							<p class="card-text"> Status: <span class="badge bg-danger">{{route.status}}</span></p>
							<table class="table table-hover">{{route.get_table | safe | escape}} </table>
						</div>
					</div>
						{% elif route.status == 'EXPIRED' %}
						<div class="card mb-3">
						<div class="card-body">
							<h5 class="card-title text-dark">{{route.name}}</h5>
							<p class="card-text"> Status: <span class="badge bg-dark">{{route.status}}</span></p>
							<table class="table table-hover">{{route.get_table | safe | escape}} </table>
						</div>
					</div>
						{% endif %}
						
				{% endfor %}

			</div>
			<div class="col-sm-6" id="hero"  style="display:block;">
				<div class="card" style="border:None;" class="position-fixed overflow-visible" style="z-index:1;">
                    <h5 class="card-title">Shortcuts</h5>
                    <div class="card-body btn-group">
					{% if not request.COOKIES.token %}
						<a class="btn btn-info btn-sm float-left" id="routebutton" href="#" data-bs-toggle="modal" data-bs-target="#addRouteM"><i class="bi bi-shield-plus"></i> Add Route</a>           
                    {% else %}
                      <a href="{% url 'add' %}"  class="btn btn-info btn-sm float-left" id="routebutton"><i class="bi bi-shield-plus"></i> Add Route</a> 
                    {% endif %}
						<a class="btn btn-info btn-sm float-left ml-2" href="{% url 'group-routes' %}"> <i class="bi-table"></i> User Routes</a>
						<a href="{% url 'pending-routes' %}" type="button" class="btn btn-info btn-sm float-left ml-2"> <i class="bi-clipboard"></i> Proposed Routes</a>
						<a class="btn btn-info btn-sm float-left ml-2" href="{% url 'user-profile' %}"> <i class="bi-person"></i> Profile</a>
                    </div>
                </div>
			</div>
		</div>
	</section>
<section>

</section>		

</div>   
{% endblock %}
{% block pagejsbottom %}
<script>
	$('#routebutton').click(function(){
      $.ajax({
              url: "{% url 'add-route' %}",
              type: "GET",
              dataType: "json",
              success: (data) => {
                console.log('it worked');
              },
              error: (error) => {
                console.log(error);
              }
            });
     });
</script>

{% endblock %}