{% extends "base.html" %}
{% load static %}
{% load i18n %}




{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/dashboard_style.css' %}">
<link rel="stylesheet" href="{% static 'css/section_style.css' %}">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.12.1/datatables.min.css"/>
<style>
	.page-item.active .page-link {
    background-color: lightgrey !important;
    border: 1px solid lightgrey;
    }
  .page-link {
    color: black !important;
    background-color: white !important;
    }
table {
      border-collapse:separate !important;
      border:solid lightgrey 1px !important;
      border-radius:15px !important;
  }
  
  td {
      border-left:solid lightgrey 1px !important;
      border-top:solid lightgrey 1px !important;
      border-bottom:none !important;
      border-right: none !important;
  }
  
th {
    border-top: none !important;
    border-top: none !important;
  }
  
td:first-child, th:first-child {
       border-left: none !important;
  }
.paginate_button a {
      /* padding: 5px 5px; */
	  width: fit-content;
	  height: fit-content;
      font-size: 17px;
      border-radius: 6px;
      border: 1px solid #474747;
   }

</style>
{% endblock %}
{% block title %}{% trans "Dashboard" %}{% endblock %}
{% block contentplaceholder %}
{% csrf_token %}
				<div class="container">
					<div class="row">
						<div class="col mb-2">
							<i class="fa fa-shield ml-2"></i><span class="text-info font-monospace">  REM-e-DDOS</span> <br>
						  <small>Aplicación diseñada para la mitigación de ataques, aquí podrá configurar reglas de firewall que le ayude a proteger su red. <br> 
							Está aplicación también recoge información desde REM-Golem para informarle a través de Slack sobre los últimos ataques que haya recibido, proponiendo a su vez
							distintas reglas que usted podrá personalizar a su gusto. Para más información:</small>
						</div>
					  </div>
					  
					  <div class="row cards">
						<div class="col-md-3 d-flex justify-content-center">
						  <div class="card" style="width: 18rem;">
							<div class="card-body">
								<p class="card-text"> Status: <span class="badge bg-success">ACTIVE</span><br>
							 Cuando el estado de una regla es 'ACTIVE' significa que ha sido guardada en su base de datos y configurada en el router.</p>
							</div>
						  </div>
						</div>
				  
						<div class="col-md-3 d-flex justify-content-center">
						  <div class="card" style="width: 18rem;">
							<div class="card-body">
								<p class="card-text"> Status: <span class="badge bg-info">PROPOSED</span><br>
									Cuando el estado de una regla es 'PROPOSED' significa que ha sido propuesta por REM-e-DDOS, está guardada en la base de datos y está a la espera de ser aplicada al router.
							</div>
						  </div>
						</div>
						
						<div class="col-md-3 d-flex justify-content-center">
							<div class="card" style="width: 18rem;">
							  <div class="card-body">
								  <p class="card-text"> Status: <span class="badge bg-dark">DEACTIVATED</span><br>
									Cuando el estado de una regla es 'DEACTIVATED' significa que ha la regla ha sido desactivada porque ha expirado o porque un usuario la ha desactivado manualmente. </p>
							  </div>
							</div>
						  </div>

						  <div class="col-md-3 d-flex justify-content-center">
							<div class="card" style="width: 18rem;">
							  <div class="card-body">
								  <p class="card-text"> Status: <span class="badge bg-danger">ERROR</span><br>
									Cuando el estado de una regla es 'ERROR' significa que ha habido un error a la hora de configurar o eliminar una regla del router, en ese caso 
									porfavor contacte con los administradores de la aplicación. </p>
							  </div>
							</div>
						  </div>
						  

					  </div>
				  <!-- </section> -->
				  <!--ENDINFO -->
				  
				 
				  <!--  TABLE -->
				  <div class="row p-2 mt-3">
				  <div class="col">
					{% if routes  %}
        			<table id="routes_table" class="table table-hover table-responsive">
						<thead class="">
						<tr>
							<th><small>Nombre</small></th><th><small>Creada</small></th><th><small>Mas información</small></th><th><small>Estado</small></th>
						</tr>
						</thead>
						<tbody>
							{% for route in routes %}
							<tr>
								<td><small><a href="{% url 'route-details' route.name %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Gráficos y más información" class="text-decoration-none">{{route.name}}</a></small></td>
								<td><small>{{route.filed|time:"H:i"}}, {{route.filed|date:"d M Y"}}</small></td>
								<td> 
									{% if route.destination %} <small id="routeDestination" value="{{route.destination}}">{{route.destination}}</small> {% endif %} <br> 
									{% if route.source %} <small id="routeSource" value="{{route.source}}">{{route.source}}</small> {% endif %} <br>
									{% if route.protocol %} <small>Protocolo: {% for p in route.protocol.all %} {{p}} {% endfor %}</small><br> {% endif %} 
									{% if route.port %} <small>Port: {{route.port}}</small><br> {% endif %}
									{% if route.tcpflag %} <small>Tcpflag: {{route.tcpflag}}</small><br> {% endif %}
									{% if route.icmptype %} <small>Icmptype: {{route.icmptype}</small><br> {% endif %}
									{% if route.icmpcode %} <small>Icmpcode: {{route.icmpcode}}</small><br> {% endif %}
								</td>
								<td><span class="badge pill bg-success">{{route.status}}</span></td>
							</tr>
							{% endfor %}
							</tbody>
        </table>
        {% else %}
        <div class="alert alert-info" role="alert"><p class="fw-light">No hay reglas de firewall activas  </p></div>
        {% endif %}
				  </div>
				
				  {% include "shortcuts.html" %}
			</div>				
		</div>
		

  
{% endblock %}
{% block pagejsbottom %}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.5/af-2.3.7/b-2.2.2/datatables.min.js"></script>
<script>
	
	$('#routebutton').click(function(){
      $.ajax({
              url: "{% url 'add-route' %}",
              type: "GET",
              dataType: "json",
              success: (data) => {
              },
              error: (error) => {
                console.log(error);
              }
            });
     });

	 //======================
		$('#routes_table').DataTable({
			"order": [[ 1, "desc" ]],
			"AutoWidth": true,
			"Processing": true,
			"aLengthMenu" : [
                [5, 15, 20, -1],
                [5, 15, 20, "All"]
            ],
            
            "bProcessing": true, 
            "iDisplayLength": 5,
    		});
</script>

{% endblock %}