{% load i18n %}
{% load static %}

<!-- BOOSTRAP 5 -->
  <footer class="footer float-bottom bg-dark text-white">
        <div class="container">
            <div class="row mt-4">
                <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                  <h5 class="text-uppercase mb-4">Contact Us</h5>
                  <p>
                    If you have any questions or need help, contact RediMadrid at 
                    <a class="red-text" href='mailto:noc@redimadrid.es'>noc@redimadrid.es</a> or +34 911 012 202.
                  </p>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                  <h5 class="text-uppercase mb-4">Quick Links</h5>
                  <ul class="list-group list-unstyled">
                    <li class="bg-dark"><a class="link-light" href="https://www.redimadrid.es/">More about us</li>
                    <li class="bg-dark"><a class="link-light" href="https://www.redimadrid.es/files/Politica-de-uso-REDIMadrid-2019.pdf">Privacy Policy</a></li>
                    <li class="bg-dark"><a class="link-light" href="https://software.imdea.org/">IMDEA</a></li>
                  </ul>
                </div>
        </div>
        <div class="text-center p-3 bg-dark">
            © 2021 Copyright: <p>Originally designed and developed by GRNET NOC. Current version designed and developed in<a class="text-white" href="https://redimadrid.es/"> REDIMadrid.</a></p>
          </div>
      </footer>



<!-- MATERIALIZE 
  <footer class="page-footer grey darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="red-text">About</h5>
          <p>If you have any questions or need help, contact RediMadrid at <a class="red-text" href='mailto:noc@redimadrid.es'>noc@redimadrid.es</a> or +34 911 012 202.</p>
             
        </div>
        <div class="col l3 s12">
        </div>
        <div class="col l3 s12">
          <h5 class="red-text">Quick Links</h5>
          <ul>
            <li><a class="white-text" href="https://www.redimadrid.es/">About Us</li>
            <li><a class="white-text" href="https://www.redimadrid.es/files/Politica-de-uso-REDIMadrid-2019.pdf">Privacy Policy</a></li>
            <li><a class="white-text" href="https://software.imdea.org/">IMDEA</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <p> Originally designed and developed by GRNET NOC. Current version designed and developed in REDIMadrid.<p>
        </p>
      </div>
    </div>
  </footer> -->