{% load i18n %}
{% load static %}

<footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text"><h5>About</h5>
          <p>If you have any questions or need help, contact RediMadrid at <a class="white-text" href='mailto:noc@redimadrid.es'>noc@redimadrid.es</a> or +34 911 012 202.</p>
             
        </div>
        <div class="col l3 s12">
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Quick Links</h5>
          <ul>
            <li><a class="white-text" href="https://www.redimadrid.es/">About Us</li>
            <li><a class="white-text" href="https://www.redimadrid.es/files/Politica-de-uso-REDIMadrid-2019.pdf">Privacy Policy</a></li>
            <li><a class="white-text" href="https://software.imdea.org/">IMDEA</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <p> Originally designed and developed by GRNET NOC. Current version designed and developed in REDIMadrid.<p>
        </p>
      </div>
    </div>
  </footer>