{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Dashboard" %}{% endblock %}


{% block contentplaceholder %}
<style>

.fade-carousel {
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}
</style>


<div class="container-fluid p-5">
    <div class="row p-1">
        <div class="col">
            <h4 class="text-center">
                Graphs
            </h4>
        </div>
    </div>
<div class="carousel fade-carousel slide" data-ride="carousel" id="bs-carousel">
    <div class="overlay"></div>    
    <div class="carousel-inner">
      <div class="item slides active">
        <div class="slide-1"></div>
        <div class="hero">
          <hgroup>
              <img src="{{ MEDIA_URL }}{{ graphs }}" alt="Image not available at the moment, sorry for any inconvenience">
          </hgroup>
        </div>
      </div>
    </div> 
  </div>
</div>
{% endblock %}



{% block pagejsbottom %}
{% endblock %}