{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Dashboard" %}{% endblock %}


{% block contentplaceholder %}

<div class="container-fluid p-5 m-2">
  <div class="row p-1 p-3">
      <div class="col">
          <h5 class="text-center fw-light">
           Firewall rule: {{route.name}} , source: 
          </h5>
      </div>
    </div>
      <div class="row">
      <div class="col">
        <ul class="list-group list-group-flush fw-light float-start">
          <li class="list-group-item">Source: {{route.source}}</li>
          <li class="list-group-item">Destination: {{route.destination}}</li>
        </ul>
      </div>
    </div>
</div> 
  <div class="container-fluid">
   <div id="carouselExampleSlidesOnly" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{ MEDIA_URL }}{{ graphs }}" class="w-100" alt="Image not available at the moment, sorry for any inconvenience">
        </div>
      </div>
    </div>
</div>
   
{% endblock %}



{% block pagejsbottom %}
{% endblock %}