{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block extrahead %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/> 
<link href="{% static 'datepicker/css/bootstrap-datetimepicker.css' %}">
{% endblock %}
{% block pagejs%}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 
    <script src="{% static 'datepicker/js/plugin-datepicker.js' %}"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>

{% endblock %}

{% block title %}{% trans "Gráficos" %}{% endblock %}
<style>
  #dtp{
    color: black !important;
  }
</style>

{% block pagejsbottom %}
<script>
function sameOrigin(url) {
    // test that a given url is a same-origin URL
    // url could be relative or scheme relative or absolute
    var host = document.location.host; // host + port
    var protocol = document.location.protocol;
    var sr_origin = '//' + host;
    var origin = protocol + sr_origin;
    // Allow absolute or scheme relative URLs to same origin
    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
        // or any other URL that isn't scheme relative or absolute i.e relative.
        !(/^(\/\/|http:|https:).*/.test(url));
};

// usando jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
};
  function csrfSafeMethod(method) {
        // estos métodos no requieren CSRF
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    };

$("#dateForm").on('submit', function(event){
  var url = "{% url 'ajax-graphs' %}";
  var form = document.querySelector("[name='dateForm']")
  var from = form.elements.from.value;
  var till = form.elements.till.value;
  var routename = form.elements.routename.value;
  var csrftoken = getCookie('csrftoken');
  $.ajaxSetup({
  beforeSend: function(xhr, settings) {
    if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
    xhr.setRequestHeader("X-CSRFToken", csrftoken);
  }
}
  });
  $.ajax({
      url : url,
      data : {
        "till": till,
        "from" : from,
        "routename": routename,
      },
      type : "POST",
      dataType:"json",
      success: function(response){         
          if(response['beats'] && response['time']){
            var beats = response['beats'];
              var time = response['time'];
              console.log(beats)
            
              google.charts.load('current', {'packages':['corechart']});
              google.charts.setOnLoadCallback(drawChart);

              function drawChart() {
                var data = new google.visualization.DataTable();
                data.addColumn('number','Tiempo');
                data.addColumn('number', 'Beats');
                data.addRows(0);
                var options = {
                  title: '{{route.name}}',
                  curveType: 'function',
                  legend: { position: 'bottom' }
              };

              var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
              chart.draw(data, options);
        }
          }else{
            document.getElementById('curve_chart').innerHTML=response['message'];
          }
              
            },
        error: function(){
        alert('error de ajax');
            }
          });
        event.preventDefault();
})

	$(document).ready( function(){
		$('#id_from').datetimepicker({
        format: 'YYYY/MM/DD HH:mm'
    });
    $('#id_till').datetimepicker({
			format: 'YYYY/MM/DD HH:mm'
		});
  }) 
     
</script>
{% endblock %}

{% block contentplaceholder %}

<div class="container-fluid p-5 m-2">
  <div class="row g-3">
    <div class="col">
      <h2 class="fw-light text-muted text-center p-3 m-2 text-start">Regla de firewall: {{route.name}} </h2>
      </div>
      </div>
      <form class="row row-cols-sm w-50 g-3 align-items-end" method="POST" id="dateForm" name="dateForm">
        {% csrf_token %}
        <input type="hidden" value={{route.name}} id="routename" name="routename">
        <div class='col-sm-4'>
          <div class="form-group">
              <div class='input-group' id='id_from'>
                  <input type='text' class="form-control" id="from" name="from" placeholder="Desde">
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
          </div>
      </div>
      <div class='col-sm-4'>
        <div class="form-group">
            <div class='input-group date' id='id_till'>
                <input type='text' class="form-control" id="till" name="till" placeholder="Hasta">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
        <div class="col-sm-2">
          <button type="submit" class="btn btn-light btn-sm">Aceptar</button>
        </div>
      </form>
      <div class="row">
      <div class="col">
        <figure class="figure">
          <!-- <img src="{{ MEDIA_URL }}{{ graphs }}" class="figure-img img-fluid " alt="IMDEA Software Madrid Logo"> -->
          <figcaption class="figure-caption text-center fw-light">Creada por: {{route.applier}}, {% if route.then.action %} acción: {{route.then.action}}, {% endif %} {% if route.source%} dirección de origen: {{route.source}}, {% endif %} {% if route.destination %} dirección de destino: {{route.destination}}. {% endif %}</figcaption>
        </figure> 
      </div>
    </div>
        
    </div>
  
  <div class="w-100 h-100" id="curve_chart" name="curve_chart">
</div>
  
{% endblock %}