{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "My profile" %}{% endblock %}
{% block contentplaceholder %}


<div class="container p-5">
    <div class="row">
        <div class="col">
            <h5 class="text-end">{% trans "My profile" %}</h5>
        </div>
    </div>

    <div class="row">
        <div class="col">
                    <h6 class="text-center"> {% trans "My Networks" %}</h6>
            </div>
                <div class="section">
                <table class="table table-borderless align-middle p-2">
                        <thead>
                            <tr>
                            <th>{% trans "Organization" %}</th><th>{% trans "Networks" %}</th>
                            </tr>
                        </thead>
                        {% for peer in peers %}
                        <tr>
                            <td>{{peer}} </td>
                            <td>
                            {% for network in peer.networks.all %}
                            {{network}}<br>
                            {% empty %}
                            <span style="color:red">{% blocktrans %}Ooops! Seems you have no networks associated with your peer. Contact Helpdesk to resolve this issue.{% endblocktrans %}</span>
                            {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
        	
        
        </div>
        <hr>        
            <div class="row">
                <div class="col col-6">
                        <table class="table table-borderless align-middle p-2">
                                <thead>
                                    <tr>
                                    <th class="center">{% trans " My Profile" %}</th>
                                    </tr>
                                </thead>
                                <tr>
                                    <td><span><b>{% trans "Username" %}</b></span>: {{user.username}} </td>
                                    {% if user.first_name %}
                                        <td><span><b>{% trans "First name" %}</b></span> : {{user.first_name}}</td>
                                    {% endif %}
                                    {% if user.last_name %}
                                    <td><span><b>{% trans "Last name" %}</b></span> : {{user.last_name}} </td>
                                    {% endif %}
                                    {% if user.email %}
                                        <td><span><b>{% trans "Email" %}</b></span> : {{user.email}} </td>
                                    {% endif %}
                                </tr>
                            </table>  
                </div>
                <div class="col col-3">
                    <a class="btn btn-outline-info align-middle float-end" id="routebutton" href="{% url 'account_change_password' %}">{% trans "Change Password" %}</a>
                    </div> 
            </div>
    

    </div>

{% endblock %}

{% block pagejs %}
    <script type="text/javascript" src="{% static 'js/accounts.js' %}"></script>
{% endblock %}
