{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block extrahead %}
<!-- <link rel="stylesheet" href="{% static 'css/profile_style.css' %}"> -->
<link rel="stylesheet" href="{% static 'css/dashboard_style.css' %}">
<link rel="stylesheet" href="{% static 'css/section_style.css' %}">
{% endblock %}

{% block title %}{% trans "My profile" %}{% endblock %}
{% block contentplaceholder %}
<style>
   
</style>

<div class="container p-5 m-2">
        <div class="container">
            <div class="row mb-5">
                <div class="col">
                    <h5>Mi perfil</h5>
                </div>
            </div>
            <div class="row">
                <div class="col float-left">
                    <!-- Peer card -->
                    <div class="card">
                        <h5 class="card-header text-info">Institución</h5>
                        <div class="card-body">
                            {% for peer in peers %}
                            <p class="card-text">{{peer}} <br>
                        <small class="text-muted">
                            {% for network in peer.networks.all %}
                                {{network}}
                                {% empty %}
                                <span style="color:red">{% blocktrans %}Ooops! Seems you have no networks associated with your peer. Contact Helpdesk to resolve this issue.{% endblocktrans %}</span>
                            {% endfor %}
                                </small>
                            </p>

                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- End of PeerCard -->
                <!--User Card -->
                <div class="col float-right">
                <div class="card">
                    <h5 class="card-header text-info">Usuario</h5>
                    <div class="card-body">
                        {% if user.username %}<p class="card-text">Username: {{user.username}} {% endif %}  </p>
                        {% if user.first_name %}<p class="card-text">First name: {{user.first_name}}</p> {% endif %}
                        {% if user.last_name %}<p class="card-text">Last name: {{user.last_name}}</p> {% endif %}
                        {% if user.email %} <p class="card-text">Email: {{user.email}}</p> {% endif %}
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-outline-dark btn-sm float-right text-danger" id="routebutton" href="{% url 'account_change_password' %}">Cambiar contraseña</a>
                    </div>
                </div>
            </div>
            <!-- End of UserCard-->
        <div class="row">
            <div class="col pt-3 mt-5">
                {% include "shortcuts.html" %}
            </div>
                </div>
                
            </div>
        </div>
    </div>
</div>   


{% endblock %}

{% block pagejs %}
    <script type="text/javascript" src="{% static 'js/accounts.js' %}"></script>
{% endblock %}
