{% extends "base.html" %}
{% load static %}
{% load i18n %}


{% block extrahead %}
    <style type="text/css">


	.dl-horizontal dt {
    width: 70px;
}
.dl-horizontal dd {
    margin-left: 90px;
}
</style>
{% endblock %}


{% block title %}{% trans "Synced Routes" %}{% endblock %}
{% block contentplaceholder %}
<div class="container p-5">

    <div class="row">
        <div class="col">
        <h4 class="align-middle"> Storage </h4> 
    </div>
    </div>
    <div class="row">
    <div class="col">
        <p>{{message}}</p>
    </div>
</div>
{% endblock %}