{% extends "base1.html" %}
{% load i18n %}
{% load static %}
{% block extrahead %}
<link href="{% static 'theme/css/plugins/dataTables/dataTables.bootstrap.css' %}" rel="stylesheet">
{% endblock %}
{% block pagejsbodttom %}

<script type="text/javascript" src="{% static 'js/jquery.dataTables.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datatables_bootstrap.js' %}"></script>
 <script src="{% static 'js/moment.js' %}"></script>

{% endblock %}
{% block title %}{% trans "My rules" %}{% endblock %}
{% block contentplaceholder %}
{% csrf_token %}

   
<style>
    th{	font-size: 15px !important;
}
label{
    font-size:12px !important;
}
a:link{
    text-decoration: none !important;
}
</style>

<div class="container">
    <div class="row">
        <div class="col l12 m12 s12">
            <h5 class="flow-text right">{% trans "Routes  " %} </h5>
        </div>
    </div>
        <div class="row">
        <div class="col l10 m10 s10">
        	<p class="align-left"><i class="material-icons">security</i> Firewall Rules
            (Use the pencil for editting an existing rule or the clock to deactivate an existing rule)
            </p></div>
        </div>

    <div class="row">
               <div class="col l12 m12 s12">
                    	<table class="display" id="routes_table" >
                        <thead>
                            <tr>
                                <th style="border: 1px solid lightgrey !important">Id</th>
                                <th style="text-align: center; font-size: 15px;">{% trans "Name" %}</th>
                                <th style="text-align: center; font-size: 15px;">{% trans "Match" %}</th>
                                <th style="text-align: center; font-size: 15px;">{% trans "Then" %}</th>
                                <th style="text-align: center;font-size: 15px; ">{% trans "Status" %}</th>
                                <th style="text-align: center;font-size: 15px;">{% trans "Applier" %}</th>
                                <th style="text-align: center;font-size: 15px;">{% trans "Expires" %}</th>
                                <th style="text-align: center;font-size: 15px;">{% trans "Response" %}</th>
                                <th style="text-align: center;font-size: 15px;">{% trans "Actions" %}</th>
                            </tr>
                        </thead>

                    <tbody>
                </tbody>
            </table>
                </div>
            </div>
         </div>
    </div>
</div>

{% endblock %}

{% block pagejsbottom %}
    <script src="{% static 'js/dataTableslatest/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTableslatest/dataTables.bootstrap.js' %}"></script>
   
    
    {% if user.is_authenticated %}
    <!-- introduce view function that load js from flowspec app -->    
    <!-- <script type="text/javascript" src="{% url 'load-js' file='poller'  %}"></script> -->
    {% endif %}

<script type="text/javascript">
var filterbtns = '<div class="btn-group col l8 m8 s8 center">\
    <button type="button" class="btn btn-outline btn-sm btn-success" name="status_filter" value="ACTIVE" id="show_active">ACTIVE</button>\
    <button type="button" class="btn btn-outline btn-sm btn-info" name="status_filter" value="PENDING" id="show_pending">PENDING</button>\
    <button type="button" class="btn btn-outline btn-sm btn-warning" name="status_filter" value="ERROR" id="show_error">ERROR</button>\
    <button type="button" class="btn btn-outline btn-sm btn-default" name="status_filter" value="DEACTIVATED" id="show_deactivated">DEACTIVATED</button>\
    </div>';


$.fn.dataTableExt.oApi.fnReloadAjax = function ( oSettings, sNewSource, fnCallback, bStandingRedraw )
{
    // DataTables 1.10 compatibility - if 1.10 then versionCheck exists.
    // 1.10s API has ajax reloading built in, so we use those abilities
    // directly.
    if ( $.fn.dataTable.versionCheck ) {
        var api = new $.fn.dataTable.Api( oSettings );

        if ( sNewSource ) {
            api.ajax.url( sNewSource ).load( fnCallback, !bStandingRedraw );
        }
        else {
            api.ajax.reload( fnCallback, !bStandingRedraw );
        }
        return;
    }

    if ( sNewSource !== undefined && sNewSource !== null ) {
        oSettings.sAjaxSource = sNewSource;
    }

    // Server-side processing should just call fnDraw
    if ( oSettings.oFeatures.bServerSide ) {
        this.fnDraw();
        return;
    }

    this.oApi._fnProcessingDisplay( oSettings, true );
    var that = this;
    var iStart = oSettings._iDisplayStart;
    var aData = [];

    this.oApi._fnServerParams( oSettings, aData );

    oSettings.fnServerData.call( oSettings.oInstance, oSettings.sAjaxSource, aData, function(json) {
        /* Clear the old information from the table */
        that.oApi._fnClearTable( oSettings );

        /* Got the data - add it to the table */
        var aData =  (oSettings.sAjaxDataProp !== "") ?
            that.oApi._fnGetObjectDataFn( oSettings.sAjaxDataProp )( json ) : json;

        for ( var i=0 ; i<aData.length ; i++ )
        {
            that.oApi._fnAddData( oSettings, aData[i] );
        }

        oSettings.aiDisplay = oSettings.aiDisplayMaster.slice();

        that.fnDraw();

        if ( bStandingRedraw === true )
        {
            oSettings._iDisplayStart = iStart;
            that.oApi._fnCalculateEnd( oSettings );
            that.fnDraw( false );
        }

        that.oApi._fnProcessingDisplay( oSettings, false );

        /* Callback user function - for event handlers etc */
        if ( typeof fnCallback == 'function' && fnCallback !== null )
        {
            fnCallback( oSettings );
        }
    }, oSettings );
};
var oTable;
var start;
var end;
var oldhtml;
var last_element = false;
var refreshUrl = "{% url 'group-routes-ajax' %}";

$(document).ready( function(){
    oTable = $('#routes_table').dataTable( {
        "bPaginate": true,
        "bFilter": true,
        "bAutoWidth": true,
        "aLengthMenu" : [
            [5, 15, 20, -1],
            [5, 15, 20, "All"]
        ],
        "sDom": "<'row'<'col-xs-4'l><'col-xs-4'<'#filterplaceholder'>><'col-xs-4'f>><'row'<'col-xs-6'i><'col-xs-6'p>>tr<'row'<'col-xs-6'i><'col-xs-6'p>>",
        "iDisplayLength": 20,
        "bProcessing": true,
        "sAjaxSource": refreshUrl,
        "bDeferRender": true,
         "fnInitComplete": function(oSettings, json) {
         	oTable.fnSetColumnVis( 0,false );
         	update_size();

          	$('body').on('click', '.revertbutton', function () {
            	var my = $(this);
            	my.parent().html(oldhtml);
            	last_element = false;
            	return false;
            });
        },
        "aoColumns":[
                     {"mData":"id", "bSearchable": false,"bSortable": false, "bvisible":false},
                     {"mData":"details", "sClass" : "alignCenter","bSearchable": true,"bSortable": true,
                     "mRender": function (data, type, full) {
                        if (full.comments !== null) {
                            if (!full.comments.trim()) {
                               return   data ;
                            }
                            return '<a href=#  data-position="bottom" data-tooltip='+full.comments+data
                        } else {
                            return 'No comments'
                        }
                     }
                     },
                     {"mData":"match", "sClass" : "alignCenter","bSearchable": true,"bSortable": true,
                     "mRender": function (data, type, full) {
                     	return data;
                     }
                     },
                     {"mData":"then", "sClass" : "alignCenter","bSearchable": true,"bSortable": true,
                     "mRender": function (data, type, full) {
                     	return data;
                     }
                     },
                     {"mData":"status", "sClass" : "alignCenter","bSearchable": true,"bSortable": true,
                     "mRender": function (data, type, full) {
                     	var status = data;
                     	if (status == "EXPIRED" ||status == "ADMININACTIVE" || status == "INACTIVE" || status == "OUTOFSYNC"){
                     		if (status == "EXPIRED" ||status == "ADMININACTIVE" || status == "INACTIVE" ){
                     			return '<span class="label grey-text">DEACTIVATED</span>';
                     		}
                     		else
                     		{
                     			if (status == "OUTOFSYNC"){
                     				return '<span class="label red-text">ERROR</span>';
                     			}
                     			else{
                     				return status;
                     			}
                     		}
                     	}
                     	else{
                     		if (status == 'ACTIVE'){
                     			return '<span class="label green-text">'+status+'</span>';
                     		}
                     		else{
                     			if (status == 'PENDING'){
                     				return '<span class="label blue-text">'+status+'</span>';
                     			}
                     			else{
                     				return '<span class="label red-text">'+status+'</span>';
                     			}
                     		}
                     	}
                     }
                     },
                     {"mData":"applier", "sClass" : "alignCenter","bSearchable": true,"bSortable": true,
                     "mRender": function (data, type, full) {
                     	return data+' ('+full.peer+')';
                     }
                     },
                     {"mData":"expires", "sClass" : "alignCenter","bSearchable": true,"bSortable": true,
                     "mRender": function (data, type, full) {
                        var parsedate = new Date(data).toLocaleDateString('en-GB',{
                            year:'numeric',
                            month:'long',
                            day:'numeric',
                        });
                     	return parsedate;
                     }},
                     {"mData":"response", "sClass" : "alignCenter","bSearchable": true,"bSortable": true,
                     "mRender": function (data, type, full) {
                     	status = full.status;
                     	toolt = '<a class="btn white black-text tooltipped" data-position="top"';
   	                     	if (status == "EXPIRED" ||status == "ADMININACTIVE" || status == "INACTIVE" || status == "OUTOFSYNC"){
	                     		if (status == "INACTIVE" ){
	                     			title = "{% trans 'Deactivated by user' %}";
	                     		}
	                     		if (status == "ADMININACTIVE" ){
	                     			title = "{% trans 'Deactivated by administrator' %}";
	                     		}
	                     		if (status == "EXPIRED" ){
	                     			title = "{% trans 'Deactivated due to expiration' %}";
	                     		}
	                     		if (status == "OUTOFSYNC" ){
	                     			title = "{% trans 'Syncronization error. Configuration in device differs from rule' %}";
	                     		}
	                     		return toolt+" data-tooltip=\""+title+"\">"+"{% trans 'Rule expired' %}"+"</a>";
	                     	}
                     		if (status == "PENDING"){
                     				return "<img src={% static 'dots.gif' %}>";
                     			}
                     		return full.response;

                     }
                     },
                     {"mData":"comments", "sClass" : "alignCenter","bSearchable": true,"bSortable": true,
                      "mRender": function (data, type, full) {
                     status = full.status;
                     btn = '';
                     editurl = "{% url 'edit-route' route_slug='routename'  %}".replace('routename', full.name.toString());
                     deleteurl = "{% url 'delete-route' route_slug='routename'  %}".replace('routename', full.name.toString());
                     if (status == "ACTIVE" ){
                     	btn = '<a  class="btn-floating tooltipped amber" href="'+editurl+'" data-position="top" data-tooltip="Edit"><i class="material-icons">edit</i></a>';
                        btn = btn +'<a href="'+deleteurl+'" class="btn-floating tooltipped grey" data-position="top" data-tooltip="Deactivate"><i class="material-icons">alarm_off</i></a>';
                    }
                     if (status == 'EXPIRED' || status == 'ADMININACTIVE' || status == 'INACTIVE'){
                     	btn = '<a href="'+editurl+'" class="btn white black-text btn-small" id="edit_button_{{route.pk}}">{% trans "Reactivate" %}</a>';
                     }
                     if (status == "OUTOFSYNC" ){
                     	btn = '<a href="'+editurl+'" class="btn waves-effect amber lighten-4 black-text btn-small" id="edit_button_{{route.pk}}">{% trans "Resync" %}</a>';
                     }
                     if (status == "ERROR" ){
                     	btn = '<a href="'+editurl+'" class="btn waves-effect red lighten-4 black-text btn-small" id="edit_button_{{route.pk}}">{% trans "Fix it!" %}</a>';
                     }
                     return btn;
                     },
                    }

         ]
} );
$('#filterplaceholder').html(filterbtns);
    $('body').on('click', 'button[name="status_filter"]', function(){
    	var reg_exp = '';
        var checkboxs = document.getElementsByName('status_filter');
        $(this).button('toggle');
        for (var i = 0, inp; inp = checkboxs[i]; i++) {
            if (inp.type.toLowerCase() == 'button' && $(inp).hasClass('active')) {
                reg_exp = reg_exp + inp.value + '|';
            }
        }
        //passing an empty string will result in no filter
        //thus, it must be set to something that will not exist in the column
        if (reg_exp == '') {
            reg_exp = '|'
        }
        oTable.fnFilter(reg_exp.slice(0, -1), 4, true, false, false);
        console.log(reg_exp.slice(0, -1))
        return false;
    });

  $(window).resize(function() {
    clearTimeout(window.refresh_size);
    window.refresh_size = setTimeout(function() { update_size(); }, 250);
  });

var update_size = function() {
    $(oTable).css({ width: $(oTable).parent().width() });
    pw=$(oTable).parent().width();
    tw=$(oTable).width();
    if (tw>pw){
		oTable.fnSetColumnVis( 7,false );
		oTable.fnSetColumnVis( 5,false );
    }else{
    	oTable.fnSetColumnVis( 7,true );
    	oTable.fnSetColumnVis( 5,true );
    }
    oTable.fnAdjustColumnSizing();
  }

/* $("body").tooltip({ selector: '[data-toggle="tooltip"]' }); */
});
</script>
<style type="text/css">


	.dl-horizontal dt {
    width: 70px;
}
.dl-horizontal dd {
    margin-left: 90px;
    padding : 0;
	line-height: 0%;
}


/* table, th, td {
  border: 1px solid lightgrey !important;
} */
.btn-small{
    margin-left: 5px;
}


</style>

{% endblock %}