{% extends "base.html" %}
{% load i18n %}
{% load static %}


{% block extrahead %}
    <!-- <link href="{% static 'theme/css/plugins/dataTables/dataTables.bootstrap.css' %}" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css">
    <!-- <link rel="stylesheet" href="{% static 'css/dataTable_style.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/table_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/section_style.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.3/datatables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.jqueryui.min.css">
<style>
select.form-select > option {
  margin: 2em;
} 
</style>
{% endblock %}
{% block title %}{% trans "Mis reglas" %}{% endblock %}
{% block contentplaceholder %}
{% csrf_token %}


<div class="container">

    <!-- Table -->

    
    <div class="row pt-3">
        <div class="col">
            <div class="panel panel-primary">
                <div class="panel-heading"><span class="font-monospace">Mis reglas de Firewall</span><i class="fa fa-shield"></i></div>

                <div class="panel-body">

                <table id="routestable" class="table table-hover table-responsive compact w-100">
                    <thead>
                    <tr>
                        <th>Creada</th><th>Nombre</th><th>Información</th><th>Pertenece a</th><th>Estado</th><th>Caduca</th><th>Respuesta</th><th>Otros</th>
                    </tr>
                </thead>

                <tbody>
                    {% for route in routes %}
                
                        <tr>
                            <td><small>{{route.filed|date:"d M Y" }}</small></td>
                            <td><small>
                                {% if route.status == 'ACTIVE' %}
                                <a href="{% url 'display-graphs' route.name %}" class="text-danger">{{route.name}}</a>
                                {% else %}
                                <span class="text-danger">{{route.name}}</span>
                                {% endif %}
                            </small></td>
                            

                            <td><small>
                                {% if route.source %} <b>Dir Origen:</b> {{route.source}}<br> {% endif %}
                                {% if route.destination %} <b>Dir Destino:</b> {{route.destination}}<br> {% endif %}
                                {% if route.source_port %} <b>Puerto origent:</b> {{route.source_port}}<br> {% endif %}
                                {% if route.port %} <b>Puerto(s):</b> {{route.port}}<br> {% endif %}
                                {% if route.destination_port %}<b>Puerto Destino:</b>{{route.destination_port}}<br> {% endif %}
                                {% if route.protocol.all %}<b>Protocolo:</b> {% for p in route.protocol.all %} {{p}} {% endfor %}<br> {% endif %}
                                {% if route.tcpflag %} <b>Tcpflag(s): </b>  {{route.tcpflag}} {% endif %}
                                {% if route.then.action %} <b> Acción: {{route.then.action}} </b> {% endif %}
                            </small></td>
                             
                            <td><small>{{route.applier_username_nice}}</small></td>

                            <td>
                                {% if route.status == 'ACTIVE'  %}
                                    <span class="badge bg-success">{{route.status}}</span>
                                {% elif route.status == 'DEACTIVATED' %}
                                <span class="badge bg-dark">{{route.status}}</span>
                                {% elif route.status == 'EXPIRED' %}
                                <span class="badge bg-dark">{{route.status}}</span>
                                {% elif route.status == 'INACTIVE' %}
                                <span class="badge bg-dark">{{route.status}}</span>
                                {% elif route.status == 'ERROR' %}
                                    <span class="badge bg-danger">{{route.status}}</span>
                                {% elif route.status == 'PENDING' %}
                                        <img src="{% static 'dots.gif' %}" alt="...">
                                {% endif %}
                            </td>
                            

                            <td><small>{% if route.expires %}{{route.expires}}{% else %}'Esta regla no tiene fecha de caducidad establecida.'{% endif %}</small></td>

                            <td><small>{{route.response}}</small></td>

                            <td>
                                    <div class="col-2 btn-group d-inline">
                                        {% if not request.COOKIES.token %}
                                                {% if route.status == 'ACTIVE' %}                            
                                                    <a href="{% url 'edit-route' route.name %}" class="btn btn-outline m-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar"><i class="bi-pencil text-dark"></i></a>
                                                    <a href="{% url 'delete-route' route.name  %}"class="btn btn-outline m-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Desactivar"><i class="bi-shield-x text-dark"></i></a>
                                                    <a href="{% url 'display-graphs' route.name %}" class="btn btn-outline m-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Mostrar gráficos!"><i class="bi-graph-up text-dark"></i></a>
                                                {% endif %}
                                                {% if route.status == 'ERROR' %}
                                                    <a href="{% url 'edit-route' route.name %}" class="btn btn-outline-warning btn-sm" id="edit_button_{{route.pk}}">{% trans "Arreglar!" %}</a>
                                                {% endif %}
                                                
                                                {% if route.status == 'DEACTIVATED' %}
                                                    <a href="'edit-route' route.name" class="btn m-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Reactivar" id="edit_button_{{route.pk}}"><i class="bi-cloud-arrow-up text-dark"></i></a>
                                                    <a href="{% url 'exterminate' route.name %}" class="btn m-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar regla de REM-E-DDOS"><i class="bi-trash text-dark"></i></a>
                                                    {% endif %}
                                                    {% if route.status == 'INACTIVE' %}
                                                    <a href="'edit-route' route.name" class="btn m-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Reactivar" id="edit_button_{{route.pk}}"><i class="bi-cloud-arrow-up text-dark"></i></a>
                                                    <a href="{% url 'exterminate' route.name %}" class="btn m-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar regla de REM-E-DDOS"><i class="bi-trash text-dark"></i></a>
                                                    {% endif %}
                                                    {% if route.status == 'EXPIRED' %}
                                                    <a href="'edit-route' route.name" class="btn m-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Reactivar" id="edit_button_{{route.pk}}"><i class="bi-cloud-arrow-up text-dark"></i></a>
                                                    <a href="{% url 'exterminate' route.name %}" class="btn m-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar regla de REM-E-DDOS"><i class="bi-trash text-dark"></i></a>
                                                {% endif %}
                                        {% endif %}
                                    {% if request.COOKIES.token %}
                                        {% if route.status == 'ACTIVE' %}
                                                <a href="{% url 'edit-route' route.name %}" class="btn btn-outline m-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar"><i class="bi-pencil text-dark"></i></a>
                                                <a href="{% url 'delete-route' route.name  %}"class="btn btn-outline  m-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Desactivar"><i class="bi-shield-x text-dark"></i></a>
                                                <a href="{% url 'display-graphs' route.name %}" class="btn btn-outline m-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Mostrar gráficos!"><i class="bi-graph-up text-dark"></i></a>
                                        {% endif %}
                                        {% if route.status == 'INACTIVE' %}
                                                    <a href="'edit-route' route.name" class="btn m-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Reactivar" id="edit_button_{{route.pk}}"><i class="bi-cloud-arrow-up text-dark"></i></a>
                                                    <a href="{% url 'exterminate' route.name %}" class="btn m-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar regla de REM-E-DDOS"><i class="bi-trash text-dark"></i></a>
                                                    {% endif %}
                                                {% if route.status == 'ERROR' %}
                                            <a href="{% url 'edit' route.name %}" class="btn btn-outline-warning btn-sm" id="edit_button_{{route.pk}}">{% trans "Arreglar!" %}</a>
                                            {% endif %}
                                            {% if route.status == 'DEACTIVATED' %}
                                        <a href="'edit' route.name" class="btn m-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Reactivar" id="edit_button_{{route.pk}}"><i class="bi-cloud-arrow-up text-dark"></i></a>
                                        <a href="{% url 'exterminate' route.name %}" class="btn m-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar regla de REM-E-DDOS"><i class="bi-trash text-dark"></i></a>
                                    {% endif %}
                                {% endif %}
                            </div>
                                
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
        </div>
    </div>

    <div class="row mb-3 pb-3">
        <div class="col">
            <div class="card float-left">
                <h6 class="card-header">Iconografía</h6> 
                <div class="card-body">
                    <div class="card-text">
                        <div class="col d-inline">
                            <span class="">Editar regla:  <i class="bi-pencil text-info"></i></span>
                            <span class="ml-1">Reactivar regla:   <i class="bi-cloud-arrow-up text-info"></i></span>
                            <span class="ml-1">Desactivar regla:    <i class="bi-shield-x text-info"></i></span><br>
                            <span class="">Eliminar regla:   <i class="bi-trash text-info"></i></span>
                            <span class="ml-1">Ver gráfico: <i class="bi-graph-up text-info"></i></span>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="col">
          {% include "shortcuts.html" %}
        </div>
      
      </div>
</div>

{% endblock %}

{% block pagejsbottom %} 

<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.3/datatables.min.js"></script>
<script type="text/javascript">

$('.addbutton').click(function(){

      $.ajax({
              url: "{% url 'add-route' %}",
              type: "GET",
              dataType: "json",
              success: (data) => {
              },
              error: (error) => {
                console.log(error);
              }
            });
     });

$(document).ready( function(){
    oTable = $('#routestable').dataTable( {
        "order": [[ 1, "desc" ]],
        "AutoWidth": true,
        "aLengthMenu" : [
            [5, 15, 20, -1],
            [5, 15, 20, "All"]
        ],
        
        "Processing": true, 
        "DisplayLength": 5,
    });

    var select_element = document.getElementsByName("routestable_length");
    console.log(select_element)
    select_element.forEach(a => a.classList.remove("form-select"));
    select_element.forEach(a => a.classList.remove("form-select-sm"));


})    
// add class name

</script>



{% endblock %}
